@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4d19v8');
  src:  url('fonts/icomoon.eot?4d19v8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4d19v8') format('truetype'),
    url('fonts/icomoon.woff?4d19v8') format('woff'),
    url('fonts/icomoon.svg?4d19v8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e91a";
}
.icon-next:before {
  content: "\e916";
}
.icon-prev:before {
  content: "\e917";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-sm:before {
  content: "\e902";
}
.icon-attach:before {
  content: "\e903";
}
.icon-burger:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-cloud:before {
  content: "\e907";
}
.icon-cross:before {
  content: "\e908";
}
.icon-features-1:before {
  content: "\e909";
}
.icon-features-2:before {
  content: "\e90a";
}
.icon-features-3:before {
  content: "\e90b";
}
.icon-features-4:before {
  content: "\e90c";
}
.icon-features-5:before {
  content: "\e90d";
}
.icon-features-6:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e90f";
}
.icon-select:before {
  content: "\e910";
}
.icon-store:before {
  content: "\e911";
}
.icon-view:before {
  content: "\e912";
}
.icon-soc1:before {
  content: "\e913";
}
.icon-soc2:before {
  content: "\e914";
}
.icon-soc3:before {
  content: "\e915";
}
.icon-page-next:before {
  content: "\e918";
}
.icon-page-prev:before {
  content: "\e919";
}
.icon-down:before {
  content: "\e91b";
}
