* {
  @include box-sizing(border-box);

  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}

body {
  position: relative;
  font-family: $font1;
  padding: 0px;
  margin: 0px auto;
  line-height: 1;
  color: $color2-1;
  @include transition(background-color 0.3s);

  &.menuIsOpened {
    overflow: hidden;
  }

  .bodyWrap {
    position: relative;
    overflow: hidden;
  }
}

.bodyModal {
  .bodyWrap {
    z-index: 0;
  }
}

.containerLg {
  max-width: $containerLG;
  width: 100%;
  padding: 0px $indent1;
  margin: 0px auto;
}

.container {
  width: $containerSD;
  padding: 0px $indent1;
  margin: 0px auto;
}

.containerMd {
  width: $containerMD;
  padding: 0px $indent1;
  margin: 0px auto;
}

.containerSm {
  max-width: $containerSM;
  margin: 0px auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  @include transition(opacity 0.3s);
  opacity: 1;
  @include outline(none);
}

select,
input,
textarea {
  width: 100%;
  @include outline(none);
  background: transparent;
  @include box-shadow(none);
  border: none;
  font-family: $font1;
  @include appearance(none);
}

button {
  padding: 0px;
  font-family: $font1;
  background-color: transparent;
  border: none;
  @include outline(none);
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.siteTabs {
  .tabContent {
    display: none;
    @include animation-name(fadeIn);
    @include animation-duration(1s);
    @include animation-fill-mode(forwards);

    &.active {
      display: block;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.siteLogo {
  width: 304px;
  @include invisLink;

  img {
    width: 100%;
  }

  &.lg {
    width: 510px;

    @media (max-width: $maxMediaSD) {
      width: 247px;
    }

    @media (max-width: $maxMediaXS) {
      width: 208px;
    }
  }
}

.outLink {
  position: relative;
  padding-right: 23px;
  display: inline-block;
  font-family: $font2;
  @include font(18px, 24px, $link, null, null);
  text-decoration: underline;
  text-decoration-color: $link;
  @include transition(text-decoration-color 0.3s);

  &:hover {
    text-decoration-color: transparent;
  }

  &::before {
    content: '\e902';
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    font-family: $font3;
    font-size: 10px;
    color: $link;
  }

  @media (max-width: $maxMediaSD) {
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}

.moreLink {
  position: relative;
  padding-right: 27px;
  display: inline-block;
  font-family: $font2;
  @include font(14px, 22px, $link, null, null);
  text-decoration: underline;
  text-decoration-color: $link;
  @include transition(text-decoration-color 0.3s);

  &:hover {
    text-decoration-color: transparent;
  }

  &::before {
    content: '\e90f';
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    font-family: $font3;
    font-size: 14px;
    color: $link;
  }

  @media (max-width: $maxMediaSD) {
    padding-right: 20px;
    font-size: 12px;
    line-height: 20px;

    &::before {
      top: -1px;
      font-size: 11px;
    }
  }
}

.siteLink {
  display: inline-block;
  @include font(20px, 30px, $link, 500, null);
  text-decoration: underline;
  text-decoration-color: $link;
  @include transition(text-decoration-color 0.3s);

  &:hover {
    text-decoration-color: transparent !important;
  }

  @media (max-width: $maxMediaSD) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $maxMediaXS) {
    font-size: 16px;
    line-height: 26px;
  }

  &.md {
    font-family: $font2;
    font-size: 18px;
    line-height: 24px;
    color: $link2;

    @media (max-width: $maxMediaSD) {
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $maxMediaXS) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &.sm {
    font-family: $font2;
    font-size: 16px;
    line-height: 26px;

    @media (max-width: $maxMediaSD) {
      font-size: 14px;
      line-height: 24px;
    }

    @media (max-width: $maxMediaXS) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &.invert {
    color: $color1;
    text-decoration-color: $color1;
  }
}

.footLink {
  display: inline-block;
  font-family: $font2;
  @include font(16px, 26px, $color15, null, null);
  text-decoration: underline;
  text-decoration-color: $color15;
  @include transition(text-decoration-color 0.3s);

  &:hover {
    text-decoration-color: transparent;
  }

  &.simple {
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: $color15;
    }
  }

  &.sm {
    font-size: 12px;
    line-height: 20px;

    @media (max-width: $maxMediaXS) {
      line-height: 18px;
    }
  }

  @media (max-width: $maxMediaSD) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (max-width: $maxMediaXS) {
    font-size: 12px;
    line-height: 18px;
  }
}

.breadcrumbs {
  display: flex;

  @media (max-width: $maxMediaXS) {
    position: relative;
    white-space: nowrap;
  }

  li {
    position: relative;

    a {
      display: inline-block;
      font-family: $font2;
      @include font(14px, 22px, $link, null, null);
      // text-decoration: underline;
      // text-decoration-color: $link;
      @include transition(text-decoration-color 0.3s);

      @media (max-width: $maxMediaSD) {
        font-size: 12px;
        line-height: 20px;
      }

      @media (max-width: $maxMediaXS) {
        line-height: 18px;
      }

      // &:hover {
      //   text-decoration-color: transparent;
      // }
    }

    span {
      display: inline-block;
      font-family: $font2;
      @include font(14px, 22px, $color3, null, null);

      @media (max-width: $maxMediaSD) {
        font-size: 12px;
        line-height: 20px;
      }

      @media (max-width: $maxMediaXS) {
        line-height: 18px;
      }
    }

    &+li {
      margin-left: 40px;

      @media (max-width: $maxMediaXS) {
        margin-left: 28px;
      }

      &::before {
        content: '\e902';
        display: block;
        position: absolute;
        top: 50%;
        right: calc(100% + 15px);
        margin-top: -5px;
        font-family: $font3;
        font-size: 10px;
        color: $color3-2;

        @media (max-width: $maxMediaXS) {
          right: calc(100% + 9px);
          margin-top: -4px;
          font-size: 7px;
        }
      }
    }
  }

  &.invert {
    li {

      a,
      span {
        color: $color1;
        opacity: 0.7;
      }

      &+li {
        &::before {
          color: $color1;
          opacity: 0.7;
        }
      }
    }
  }
}

.linksMenu {
  display: flex;

  li {
    a {
      display: inline-block;
      font-family: $font2;
      @include font(18px, 26px, $link, null, null);
      text-decoration: underline;
      text-decoration-color: $link;
      @include transition(text-decoration-color 0.3s);

      &:hover {
        text-decoration-color: transparent;
      }
    }

    &+li {
      margin-left: 40px;
    }
  }

  &+* {
    margin-top: 80px;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: 56px;
    height: 56px;
    font-size: 20px;
    color: $color3-2;
    text-align: center;
    background-color: transparent;
    @include border-radius(28px);
    $transition: color 0.3s, background-color 0.3s;
    @include transition($transition);
    @include invisLink;
    overflow: hidden;

    @media (max-width: $maxMediaSD) {
      min-width: 48px;
      height: 48px;
      font-size: 16px;
      @include border-radius(24px);
    }

    &:hover {
      color: $color4-1;
      background-color: $color4-1-a1;
    }
  }

  .nums {
    margin-left: 0px;
    margin-right: 0px;

    @media (max-width: $maxMediaSD) {
      margin-left: 4px;
      margin-right: 4px;
    }

    ul {
      display: flex;

      li {
        flex-shrink: 0;
      }
    }

    .num {
      position: relative;
      min-width: 56px;
      height: 56px;
      background-color: transparent;
      @include border-radius(28px);
      @include transition(background-color 0.3s);
      z-index: 1;

      @media (max-width: $maxMediaSD) {
        min-width: 48px;
        height: 48px;
        @include border-radius(24px);
      }

      a {
        display: block;
        padding: 0px 12px;
        @include font(22px, 56px, $color2-1, 500, null);
        text-align: center;
        font-feature-settings: 'pnum'on, 'lnum'on;
        @include transition(color 0.3s);

        @media (max-width: $maxMediaSD) {
          padding: 0px 8px;
          font-size: 18px;
          line-height: 48px;
        }
      }

      &:hover {
        background-color: $color4-1-a1;

        a {
          color: $color4-1;
        }
      }

      &.active {
        background-color: $color4-1;

        a {
          color: $color1;
        }
      }

      &+.num {
        margin-left: 0px;

        @media (max-width: $maxMediaSD) {
          margin-left: 0px;
        }
      }
    }
  }

  &+* {
    margin-top: 60px;
  }
}

.paginationSm {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    font-size: 15px;
    color: $color3-2;
    text-align: center;
    background-color: transparent;
    @include border-radius(21px);
    $transition: color 0.3s, background-color 0.3s;
    @include transition($transition);
    @include invisLink;
    overflow: hidden;

    &:hover {
      color: $color4-1;
      background-color: $color4-1-a1;
    }
  }

  .num {
    width: 130px;
    margin: 0px 26px;

    span {
      display: block;
      @include font(12px, 18px, $color2-1, 700, 0.12em);
      text-transform: uppercase;
      text-align: center;
      font-feature-settings: 'pnum'on, 'lnum'on;

      &+input {
        margin-top: 8px;
      }
    }

    input {
      display: block;
      padding: 9px;
      @include font(16px, 24px, $color2-1, 500, null);
      text-align: center;
      font-feature-settings: 'pnum'on, 'lnum'on;
      background-color: $back1;
      @include border-radius(6px);
    }
  }
}

.backLink {
  display: table;
  @include invisLink;
  font-size: 36px;

  &.invert {
    color: $color1;
  }
}