.btnBorder {
  display: inline-block;
  min-width: 84px;
  padding: 7px 20px;
  font-family: $font2;
  @include font(14px, 20px, $color1 !important, 600, null);
  text-align: center;
  background-color: transparent;
  border: 1px solid $color1-a3;
  @include border-radius(8px);
  $transition: color 0.3s, background-color 0.3s, border 0.3s;
  @include transition($transition);

  @media (max-width: $maxMediaXS) {
    min-width: 70px;
    padding: 6px 15px;
    font-size: 12px;
    line-height: 18px;
    @include border-radius(6px);
  }

  &:hover {
    background-color: $color1-a15;
    border: 1px solid transparent;
  }

  &:active {
    color: $color1-a7;
    background-color: $color1-a15;
    border: 1px solid transparent;
  }
}

.btnFill {
  position: relative;
  display: inline-block;
  padding: 12px 38px;
  @include font(16px, 24px, $color4 !important, 700, 0.1em);
  text-transform: uppercase;
  text-align: center;
  background-color: $color1;
  @include border-radius(24px);
  @include box-shadow(0px 4px 8px transparent);
  $transition: background-color 0.3s, box-shadow 0.3s;
  @include transition($transition);
  z-index: 1;

  @media (max-width: $maxMediaSD) {
    padding-left: 31px;
    padding-right: 31px;
  }

  @media (max-width: $maxMediaXS) {
    min-width: 180px;
    padding: 10px 27px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
  }

  &.md {
    padding: 10px 27px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;

    @media (max-width: $maxMediaXS) {
      min-width: 146px;
      padding: 8px 15px;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.06em;
    }
  }

  &.dark {
    color: $color2-1 !important;
  }

  &:hover {
    background-color: $btnHover;
    @include box-shadow(0px 4px 8px $btnFillShadow);
  }

  &:active {
    background-color: $btnActive;
    @include box-shadow(0px 4px 8px transparent);
  }
}

.btnSecondary {
  position: relative;
  display: inline-block;
  min-width: 260px;
  padding: 14px 20px;
  @include font(16px, 24px, $color1 !important, 700, 0.1em);
  text-transform: uppercase;
  text-align: center;
  background-color: $color1-a1;
  @include border-radius(34px);
  $transition: background-color 0.3s;
  @include transition($transition);
  z-index: 1;

  @media (max-width: $maxMediaSD) {
    min-width: 206px;
    padding: 11px 15px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
  }

  @media (max-width: $maxMediaXS) {
    min-width: 146px;
    padding: 8px 15px;
    font-size: 10px;
    line-height: 14px;
  }

}

.btnGrad {
  position: relative;
  display: inline-block;
  padding: 12px 42px;
  @include font(16px, 24px, $color1 !important, 700, 0.08em);
  text-transform: uppercase;
  @include linear-gradientH($btnGrad1, $btnGrad2);
  @include border-radius(24px);
  @include box-shadow(0px 4px 8px transparent);
  @include transition(box-shadow 0.3s);
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $color2-1;
    opacity: 0;
    @include transition(opacity 0.3s);
    z-index: -1;
  }

  &:hover {
    @include box-shadow(0px 4px 8px $btnGradShadow);

    &::before {
      opacity: 0.1;
    }
  }

  &:active {
    @include box-shadow(0px 4px 8px transparent);

    &::before {
      opacity: 0.2;
    }
  }

  @media (max-width: $maxMediaXS) {
    min-width: 180px;
    padding: 10px 23px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
  }
}

.btnSimple {
  display: block;
  padding: 12px;
  font-family: $font2;
  @include font(16px, 26px, $link, null, null);
  text-align: center;
  background-color: $btnHover;
  @include border-radius(8px);
  @include transition(background-color 0.3s);
  cursor: pointer;
}

.btnSecondary2 {
  position: relative;
  display: inline-block;
  min-width: 210px;
  padding: 14px 20px;
  @include font(16px, 24px, $color2-1 !important, 700, 0.1em);
  text-transform: uppercase;
  text-align: center;
  background-color: $color15;
  @include border-radius(34px);
  $transition: background-color 0.3s;
  @include transition($transition);
  z-index: 1;

  @media (max-width: $maxMediaSD) {
    min-width: 206px;
    padding: 11px 15px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
  }

  @media (max-width: $maxMediaXS) {
    min-width: 146px;
    padding: 8px 15px;
    font-size: 10px;
    line-height: 14px;
  }
}