footer {
  padding-top: 40px;
  background-color: $color2-2;
}

.footMenu {
  display: flex;
  justify-content: flex-end;

  .item {
    min-width: 290px;

    &+.item {
      margin-left: 40px;
    }

    &:first-child {
      margin-right: auto;
    }
  }

  .title {
    display: block;
    // font-family: $font2;
    @include font(12px, 20px, $color3, bold, 0.12em);
    text-transform: uppercase;

    &+ul {
      margin-top: 12px;
    }
  }

  ul {
    li {
      width: 180px;

      &+li {
        margin-top: 12px;
      }
    }

    &.cols {
      display: flex;

      &>li {
        &+li {
          margin-top: 0px;
          margin-left: 40px;
        }
      }
    }

    &.contacts {
      li {
        &+li {
          margin-top: 12px;

          &:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &+.footInfo {
    margin-top: 40px;
  }
}

.footInfo {
  padding-top: 12px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  border-top: 1px solid $color1-a2;

  .logoBlock {
    position: relative;
    top: -2px;
    left: -40px;
    margin-right: -40px;
  }

  .copyrightBlock {
    margin-left: 6px;
  }

  .socBlock {
    margin-left: 40px;
  }

  .loginBlock {
    margin-left: 90px;
    margin-right: 40px;
  }

  .infoBlock {
    margin-left: auto;
  }
}

.copyrightBlock {
  max-width: 240px;
}

.copyright {
  font-family: $font2;
  @include font(12px, 20px, $color15, null, null);

  span {
    display: block;
    margin-top: 10px;
    opacity: 0.5;
  }
}

.socBlock {
  .title {
    display: block;
    font-family: $font2;
    @include font(12px, 20px, $color15, null, null);

    &+* {
      margin-top: 10px;
    }
  }
}

.socList {
  display: flex;

  li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    border: 1px solid $color1-a3;
    $filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.09)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    @include filter($filter);
    @include invisLink;
    @include border-radius(8px);
    $transition: background-color 0.3s, border 0.3s;
    @include transition($transition);

    [class*="icon"] {
      font-size: 22px;
      color: $color1;
    }

    [class*="soc2"] {
      font-size: 20px;
    }

    [class*="soc3"] {
      font-size: 18px;
    }

    &+li {
      margin-left: 16px;
    }

    &:hover {
      background-color: $color1-a15;
      border: 1px solid transparent;
    }
  }
}

.infoBlock {
  width: 290px;

  ul {
    li {
      &+li {
        margin-top: 8px;
      }
    }
  }
}