.formTemplate {
  .formHeader {
    &+.formContent {
      margin-top: 30px;
    }
  }

  .formContent {
    &+.formFooter {
      margin-top: 40px;
    }
  }

  .title {
    display: block;
    @include font(30px, 40px, $color2-1, 700, null);
    font-feature-settings: 'pnum'on, 'lnum'on;
  }

  .fieldset {
    &+.fieldset {
      margin-top: 24px;
    }
  }

  .fieldsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 42px;
    row-gap: 26px;
  }

  .fieldItem {
    &+.fieldItem {
      margin-top: 26px;
    }
  }

  .formFooter {
    display: flex;
    align-items: center;

    .note {
      margin-left: 40px;
    }
  }

  .note {
    font-family: $font2;
    @include font(14px, 22px, $color3-8, null, null);

    span {
      color: $color10-1;
    }
  }

  .formWrapper {
    display: flex;

    .col {
      flex-grow: 1;

      &.sm {
        width: 300px;
        flex-grow: 0;
      }

      &+.col {
        margin-left: 40px;
      }
    }
  }

  &.sm {
    max-width: 642px;

    .attachBtn {
      padding-top: 24px;
    }
  }

  &+* {
    margin-top: 120px;
  }
}

.inBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &>label {
    display: block;
    font-family: $font1;
    @include font(12px, 20px, $color2-1, 700, 0.12em);
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;

    span {
      color: $color10-1;
    }

    &+.inWrap {
      margin-top: 8px;
    }
  }

  .inWrap {
    flex-grow: 1;

    input {
      padding: 0px 16px;
      font-family: $font2;
      @include font(18px, 46px, $color2-1, null, null);
      background-color: $back1;
      @include border-radius(8px);
    }

    textarea {
      padding: 8px 16px;
      min-height: 138px;
      max-width: 100%;
      height: 100%;
      font-family: $font2;
      @include font(18px, 24px, $color2-1, null, null);
      background-color: $back1;
      @include border-radius(8px);
    }
  }

  .selectric {
    height: 46px;
    background-color: $back1;
    border: 1px solid $back1;
    @include border-radius(6px);
    @include transition(all 0.3s);

    .label {
      margin: 0px;
      padding-left: 15px;
      padding-top: 9px;
      padding-right: 39px;
      padding-bottom: 9px;
      height: 46px;
      font-family: $font2;
      @include font(16px, 26px, $color2-1, null, null);
    }

    .button {
      width: 40px;
      height: 44px;
      background-color: transparent;

      &::before {
        content: '\e910';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 15px;
        width: 12px;
        height: 12px;
        font-family: $font3;
        font-size: 9px;
        line-height: 12px;
        color: $color2-1;
        text-align: center;
        @include transition(transform 0.3s);
        @include transform(scale(1, 1));
      }

      &::after {
        display: none;
      }
    }

    @media (max-width: $maxMediaXS) {
      height: 42px;

      .label {
        padding-top: 11px;
        padding-right: 35px;
        padding-bottom: 11px;
        height: 42px;
        @include font(12px, 18px, $color2-1, null, null);
      }

      .button {
        width: 36px;
        height: 40px;

        &::before {
          right: 11px;
        }
      }
    }
  }

  .selectric-items {
    width: 100% !important;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: $color1;
    background: $color1;
    border-top: none;
    border-left: 1px solid $back3;
    border-right: 1px solid $back3;
    border-bottom: 1px solid $back3;
    @include border-radius(0px 0px 6px 6px);
    @include box-shadow(none);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 8px;
      width: calc(100% - 16px);
      height: 1px;
      background-color: $back3;
    }

    li {
      min-height: auto;
      padding: 0px 16px;
      font-family: $font2;
      @include font(16px, 26px, $color2-1, null, null);
      background-color: transparent;

      &+li {
        margin-top: 16px;
      }
    }

    @media (max-width: $maxMediaXS) {
      li {
        @include font(12px, 18px, $color2-1, null, null);

        &+li {
          margin-top: 16px;
        }
      }
    }
  }

  .selectric-open {

    &.selectric-below {
      .selectric {
        background-color: $color1;
        border-color: $back3;
        border-bottom-color: transparent;
        @include border-radius(6px 6px 0px 0px);
      }
    }

    &.selectric-above {
      .selectric {
        background-color: $color1;
        border-color: $back3;
        border-top-color: transparent;
        @include border-radius(0px 0px 6px 6px);
      }

      .selectric-items {
        padding-top: 20px;
        padding-bottom: 15px;
        border-bottom: none;
        border-top: 1px solid $back3;
        @include border-radius(6px 6px 0px 0px);

        &::before {
          top: auto;
          bottom: 0px;
        }
      }
    }

    .button {
      &::before {
        @include transform(scale(-1, -1));
      }
    }
  }
}

.attachBtn {
  position: relative;
  display: inline-block;

  input {
    @include appearance(none);
    position: absolute;
    opacity: 0;
  }

  label {
    position: relative;
    display: inline-block;
    padding-left: 32px;
    font-family: $font2;
    @include font(18px, 24px, $color2-1, null, null);
    cursor: pointer;

    @media (max-width: $maxMediaSD) {
      font-size: 14px;
    }

    &::before {
      content: '\e903';
      display: block;
      position: absolute;
      top: 50%;
      left: 2px;
      margin-top: -11px;
      font-family: $font3;
      font-size: 20px;
      color: $color2-1;
    }
  }
}

.radioBtn {
  position: relative;

  input {
    position: absolute;
    @include appearance(none);
    opacity: 0;

    &:checked {
      &+label {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    font-family: $font1;
    @include font(16px, 28px, $color1, 700, null);
    cursor: pointer;
    
    @media (max-width: $maxMediaXS) {
      line-height: 24px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 28px;
      height: 28px;
      border: 1px solid $color1-a5;
      @include border-radius(50%);
      // @include transition(border 0.3s);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 28px;
      height: 28px;
      border: 8px solid $color1;
      @include border-radius(50%);
      opacity: 0;
      @include transition(opacity 0.3s);
    }
  }
}