header {
  position: relative;

  .headerWrapper {
    height: 124px;
    display: flex;
    justify-content: space-between;
  }

  .leftSide {
    padding-top: 3px;
  }

  .rightSide {
    padding-top: 14px;
  }

  .logoWrapper {
    position: relative;
    left: -39px;
  }

  .openMenuBtn {
    margin-left: 42px;
  }

  .showMD {
    display: none
  }

  &.pageHeader {
    background-color: $color2-2;
  }
}

.headerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  .loginBlock {
    margin-left: 33px;
    order: 2;
  }

  .navBlock {
    order: 1;
  }

  .menuBlock {
    width: 100%;
    margin-top: 19px;
    order: 3;
  }
}

.navList {
  display: flex;

  &>li {
    &>a {
      padding: 6px 0px;
      display: flex;
      align-items: center;
      font-family: $font2;
      @include font(14px, 18px, $color3-1, null, null);
      @include transition(color 0.3s);

      &:hover {
        color: $color1;
      }
    }

    [class*="icon"] {
      position: relative;
      top: 1px;
      margin-left: 10px;
      font-size: 9px;
      @include transform(scale(1, 1));
      @include transition(all 0.3s);
    }

    &+li {
      margin-left: 28px;
    }

    &.active {
      &>a {
        color: $color1;
      }

      [class*="icon"] {
        @include transform(scale(-1, -1));
      }
    }
  }

  .dropdown {
    padding-right: 2px;

    &+.dropdown {
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid $color1-a3;
    }
  }

  .simpleMenu {
    position: relative;
  }
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -40px;
  z-index: 7;
}

.navDropdownBlock {
  position: absolute;
  display: none;
  top: 100%;
  left: 0px;
  width: 100vw;
  z-index: 5;
}

.menuList {
  display: flex;
  justify-content: flex-end;

  li {

    &>a,
    &>span {
      display: flex;
      align-items: center;
      @include font(18px, 26px, $color1, 500, null);
    }

    &+li {
      margin-left: 40px;
    }
  }
}

.dropdownMenu {
  padding-top: 12px;

  .inner {
    display: flex;
    padding: 20px 40px 28px;
    background-color: $color1;
    @include border-radius(12px);
    @include box-shadow(0px 10px 20px $color2-a2);

    @media (max-width: $maxMediaSD) {
      padding: 0px;
      background-color: transparent;
      @include box-shadow(none);
    }
  }

  .item {
    width: 180px;

    &+.item {
      margin-left: 40px;
    }
  }

  .title {
    display: block;
    @include font(12px, 20px, $color3, 700, 0.12em);
    text-transform: uppercase;

    &+ul {
      margin-top: 12px;
    }
  }

  ul {
    li {
      a {
        display: inline-block;
        font-family: $font2;
        @include font(14px, 18px, $link, 400, null);
        text-decoration: underline;
        text-decoration-color: $link;
        @include transition(text-decoration-color 0.3s);

        &:hover {
          text-decoration-color: transparent;
        }
      }

      &+li {
        margin-top: 16px;
      }
    }
  }
}

.openMenuBtn {
  display: none;
  width: 27px;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    height: 1px;
    background-color: $color1;
    opacity: 1;
    @include transform(rotate(0deg));
    $transition: opacity 0.3s, transform 0.3s, transform-origin 0.3s;
    @include transition($transition);

    &+span {
      margin-top: 8px;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        @include transform(rotate(45deg));
        @include transform-origin(1px 0px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        @include transform(rotate(-45deg));
        @include transform-origin(0px 1px);
      }
    }
  }
}