.bodyModal {
  overflow: hidden;
}

.modalsScroll {
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: -1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: none;

  &.open {
    z-index: 55;
    display: block;
  }
}

.modals {
  height: 100vh;
  width: 100vw;

  &.table {
    display: table;
  }

  &>.tCell {
    padding: 30px;
    overflow: auto;
    display: table-cell;
    vertical-align: middle;
  }
}

.overlayModal {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $color2-1-a8;
  cursor: pointer;
  display: none;
}

.tariffModal {
  height: calc(100vh - 60px);
  max-width: 1326px;
  width: calc(100vw - 60px);
  @include border-radius(20px);

  .close {
    display: none;
  }

  .modalHead {
    padding-left: 133px;
    padding-right: 133px;
    background-color: $color2-2;
    @include border-radius(20px 20px 0px 0px);

    .wrapper {
      margin: 0px -20px;
      height: 90px;
      display: flex;
      align-items: center;
    }

    .col {
      width: 330px;
      max-width: 330px;
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: min(330px, 25%);
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }

    .param {
      width: 440px;
      max-width: 440px;
      flex-basis: min(330px, 25%);
      text-align: left;
    }
  }

  .modalContent {
    height: calc(100% - 90px);
    padding-left: 113px;
    padding-right: 36px;
    padding-bottom: 40px;
    background-color: $color1;
    @include border-radius(0px 0px 20px 20px);
  }

  .customScrollbar {
    height: 100%;
  }

  .dropdownList {
    padding-top: 40px;
  }
}

.customScrollbar {
  .mCSB_inside {
    &>.mCSB_container {
      margin-right: 97px;
    }
  }

  .mCSB_scrollTools {
    opacity: 1;
    margin-top: 40px;

    .mCSB_draggerRail {
      margin-right: 0px;
      width: 8px;
      background-color: $color2-2-a1;
      @include border-radius(4px);
    }

    .mCSB_dragger {
      .mCSB_dragger_bar {
        margin-right: 0px;
        width: 8px;
        background-color: $color2-2;
        @include border-radius(4px);
      }
    }
  }
}

.dropdownList {
  .dropdownItem {
    &+.dropdownItem {
      border-top: 1px solid $color2-2-a15;
    }
  }
}

.dropdownItem {
  .head {
    padding-left: 20px;
    padding-top: 19px;
    padding-right: 24px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    @include transition(background-color 0.3s);

    .title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      span {
        margin-right: 12px;
      }
    }

    cursor: pointer;

    [class*="icon"] {
      position: relative;
      top: -2px;
      display: block;
      font-size: 16px;
      color: $color2-1;
      @include transform(scale(1, 1));
      @include transition(transform 0.3s);
    }

    .note {
      font-family: $font2;
      @include font(14px, 22px, $color2-1, null, null);

      @media (max-width: $maxMediaSD) {
        font-size: 12px;
        line-height: 20px;
      }

      @media (max-width: $maxMediaXS) {
        line-height: 18px;
      }
    }

    &.active {
      background-color: $color15;

      [class*="icon"] {
        @include transform(scale(-1, -1));
      }

      &+.content {
        display: block;
      }
    }

    &:hover {
      background-color: $color15;
    }
  }

  .content {
    display: none;
    padding-left: 20px;
  }
}

.tableTemplate3 {
  .tHead {
    display: none;

    @media (max-width: $maxMediaSD) {
      display: flex;
      margin: 0px -10px;

      .tCell {
        .in {
          padding-bottom: 0px;
        }
      }
    }
  }

  .tRow {
    display: flex;
    margin: 0px -20px;

    @media (max-width: $maxMediaSD) {
      margin: 0px -10px;
    }

    &+.tRow {
      .in {
        border-top: 1px solid $color2-2-a15;
      }
    }
  }

  .tCell {
    width: 330px;
    max-width: 330px;
    flex-basis: min(330px, 25%);
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    flex-grow: 1;
    font-family: $font2;
    @include font(16px, 26px, $color2-1, null, null);
    font-feature-settings: 'pnum'on, 'lnum'on;
    text-align: center;

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }

    @media (max-width: $maxMediaSD) {
      padding-left: 10px;
      padding-right: 10px;
      flex-basis: 276px;
      // flex-basis: max(276px, 25%);
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $maxMediaXS) {
      flex-basis: 200px;
      // flex-basis: max(200px, 25%);
      font-size: 12px;
      line-height: 18px;
    }

    .in {
      height: 100%;
      padding-top: 16px;
      padding-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .param {
    max-width: 440px;
    width: 440px;
    flex-grow: 1;
    flex-basis: min(330px, 25%);
    text-align: left;

    @media (max-width: $maxMediaSD) {
      flex-basis: 276px;
      // flex-basis: max(276px, 25%);
    }

    @media (max-width: $maxMediaXS) {
      flex-basis: 200px;
      // flex-basis: max(200px, 25%);
    }

    .in {
      justify-content: flex-start;
    }
  }

  .check {
    font-size: 22px;
    color: $color22;

    @media (max-width: $maxMediaSD) {
      font-size: 20px;
    }

    @media (max-width: $maxMediaXS) {
      font-size: 16px;
    }
  }

  [class*="btn"] {
    margin-top: 24px;

    @media (max-width: $maxMediaSD) {
      margin-top: 0px;
      min-width: min(206px, 100%);
    }
  }
}


@media (max-width: $maxMediaSD) {
  .tariffModal {
    position: relative;
    max-width: 706px;

    .close {
      position: absolute;
      display: block;
      width: 32px;
      font-size: 32px;
      color: $color1;
      left: 0px;
      right: 0px;
      bottom: calc(100% + 28px);
      margin: 0px auto;
      cursor: pointer;
    }

    .modalHead {
      padding-left: 17px;
      padding-right: 17px;

      .wrapper {
        height: 60px;
      }

      .col {
        display: none;
      }

      .param {
        display: block;
      }
    }

    .modalContent {
      height: calc(100% - 60px);
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 22px;
    }

    .customScrollbar {
      padding-left: 17px;
      padding-right: 17px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .tableWrapper {
      margin-left: -17px;
      padding-left: 17px;
      overflow-x: scroll;
    }

    .dropdownList {
      padding-top: 0px;
    }
  }

  .dropdownItem {
    .head {
      position: relative;
      padding-left: 0px;
      padding-top: 16px;
      padding-right: 0px;
      padding-bottom: 15px;
      z-index: 1;

      [class*="icon"] {
        font-size: 10px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: -17px;
        width: calc(100% + 34px);
        height: calc(100% + 2px);
        background-color: transparent;
        @include transition(background-color 0.3s);
        z-index: -1;
      }

      &.active,
      &:hover {
        &::before {
          background-color: $color15;
        }
      }
    }

    .content {
      padding-left: 0px;
      margin-right: -17px;
    }
  }
}

@media (max-width: $maxMediaXS) {
  .modals {
    &>.tCell {
      padding-top: 88px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }
  }

  .tariffModal {
    position: relative;
    max-width: 100vw;
    width: 100vw;
    height: calc(100vh - 88px);

    .modalHead {
      overflow: hidden;
      @include border-radius(0px);
    }

    .modalContent {
      overflow: hidden;
      @include border-radius(0px);
    }
  }
}