@media (min-width: $minMediaSD) {
  .mobileMenu {
    display: flex !important;
  }
}

@media (max-width: $maxMediaSD) {

  .container,
  .containerLg,
  .containerMd {
    width: 768px;
    padding: 0px 31px;
  }

  .containerSm {
    max-width: 522px;

    &.full {
      max-width: 100%;
    }
  }

  .siteLogo {
    width: 254px;
  }

  .headerSection {
    @include linear-gradientH($color2-2, $color2-3);
  }

  header {
    .headerWrapper {
      height: 100px;
    }

    .leftSide {
      padding-top: 0px;
    }

    .rightSide {
      padding-top: 0px;
      padding-right: 3px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
    }

    .logoWrapper {
      left: -30px;
    }


    .loginBlock {
      position: relative;
      display: inline-block;
      z-index: 7;
    }

    .menuList {
      margin-top: 35px;
    }
  }

  .mobileMenu {
    display: none;
  }

  .headerInfo {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    padding-top: 35px;
    max-width: 768px;
    padding-left: 31px;
    padding-right: 31px;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0px;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 100%;
      background-color: $color2-2;
      z-index: -1;
    }

    .loginBlock {
      display: none;
    }
  }

  .openMenuBtn {
    position: relative;
    display: block;
    z-index: 7;
  }

  .navList {
    .dropdown {
      padding: 0px;

      [class*="icon"] {
        display: none;
      }

      &+.dropdown {
        margin-left: 28px;
        padding-left: 0px;
        border-left: none;
      }
    }

    &>li {
      &>a {
        padding: 0px;
        text-decoration: underline;
        text-decoration-color: $color3;
        @include transition(all 0.3s);

        &:hover {
          color: $color1;
          text-decoration-color: transparent;
        }
      }
    }
  }

  .menuList {
    display: block;
    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid $color1-a2;

    li {

      &>a,
      &>span {
        display: inline-block;
        text-decoration: underline;
        text-decoration-color: $color1;
        @include transition(text-decoration-color 0.3s);

        &:hover {
          text-decoration-color: transparent;
        }
      }

      &+li {
        margin-left: 0px;
        margin-top: 12px;
      }
    }
  }

  .startScreen {
    padding-top: 60px;
    padding-bottom: 35px;

    .wrapper {
      &+.demoBlock {
        margin-top: 16px;
      }
    }

    .demoBlock {
      &+.clientsBlock {
        margin-top: 50px;
      }
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 13px;
      }
    }

    .contentContainer {
      max-width: 338px;
    }

    .img {
      width: 600px;
      top: 83px;
      margin-right: -636px;
    }
  }

  .demoBlock {
    display: block;
    max-width: 340px;

    [class*="btn"] {
      &+span {
        margin-left: 0px;
        margin-top: 18px;
      }
    }

    span {
      display: block;
      line-height: 20px;
      text-align: center;

      br {
        display: none;
      }
    }
  }

  .clientsBlock {
    .title {
      font-size: 14px;
      line-height: 20px;

      &+.wrap {
        margin-top: 30px;
      }
    }

    .list {
      li {
        margin-right: 38px;

        &:last-child {
          img {
            display: none;
          }
        }
      }

      img {
        &.lg {
          display: none;
        }

        &.md {
          display: block;
        }
      }
    }
  }

  .contentSection {
    padding-top: 62px;
    padding-bottom: 48px;
  }

  .manageSection {
    .wrapper {
      display: block;
      max-width: 522px;
      width: 100%;
      margin: 0px auto;
    }

    .rightSide {
      margin-top: 10px;
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 20px;
      }
    }

    &+.dataSection {
      margin-top: 100px;
    }
  }

  .manageImg {
    max-width: 522px;
    width: 100%;

    &.lg {
      display: none;
    }

    &.md {
      display: block;
    }
  }

  .dataSection {
    .wrapper {
      display: block;
      max-width: 522px;
      margin: 0px auto;
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 20px;
      }
    }

    .info {
      &+.img {
        margin-top: 12px;
      }
    }

    .img {
      left: 0px;
    }
  }

  .iconsImg {
    max-width: 340px;
    width: 100%;
  }

  .dataSection {
    .dataDemo {
      top: 0px;
      right: -50px;
      @include transform(scale(0.73));
      @include transform-origin(50%);

      .slickSliderDots {
        @include transform(scale(1.37));
        @include transform-origin(0%);
      }
    }

    &+.cycleSection {
      margin-top: 105px;
    }
  }

  .dataSlider {
    .slickSliderDots {
      padding-left: 63px;
    }
  }

  .cycleSection {
    .titleContainer {
      padding-left: 0px;

      &+.contentContainer {
        margin-top: 34px;
      }

      &::before {
        width: 160px;
        height: 160px;
        top: -60px;
        margin-left: -82px;
      }
    }

    .cycleWrapper {
      &+.noteBlock {
        margin-top: 92px;
      }
    }

    &+.platformSection {
      margin-top: 80px;
    }
  }

  .cycleBlock {
    .img {
      left: -22px;

      &::before {
        display: none;
      }
    }

    .title {
      font-size: 16px;
      line-height: 20px;
      white-space: nowrap;

      &+.content {
        margin-top: 4px;
      }
    }

    .content {
      font-size: 12px;
      line-height: 16px;
    }

    .list {
      li {
        &:nth-child(1) {
          width: 140px;
          left: 0px;
          bottom: 60px;
          text-align: left;

          .content {
            padding-right: 30px;
          }
        }

        &:nth-child(2) {
          right: 61px;
          bottom: 152px;
        }

        &:nth-child(3) {
          right: 5px;
          top: 239px;
        }

        &:nth-child(4) {
          right: 32px;
          top: 52px;
        }

        &:nth-child(5) {
          left: 12px;
          top: 111px;
        }

        &:nth-child(6) {
          width: 120px;
          left: -3px;
          top: 266px;
        }
      }
    }
  }

  .cycleImg {
    width: 894px;
  }

  .noteBlock {
    max-width: 706px;
    padding: 60px 40px 54px;
    font-size: 22px;
    line-height: 32px;
    @include border-radius(20px);

    .img {
      width: 158px;
      top: -34px;
    }
  }

  .platformSection {
    .titleContainer {
      text-align: center;
    }

    &+.toolsSection {
      margin-top: 72px;
    }
  }

  .platformList {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 26px;
  }

  .platformItem {
    padding-left: 92px;
  }

  .toolsSection {
    .titleContainer {
      text-align: center;

      &+.contentContainer {
        margin-top: 32px;
      }
    }

    &+.newsSection {
      margin-top: 110px;
    }
  }

  .toolsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .item {
      &:nth-child(1) {
        grid-column: 1 / 3;
      }

      &:nth-child(2) {
        grid-column: 2;
        grid-row: 2 / 4;
      }

      &:nth-child(5) {
        grid-column: 1 / 3;
      }

      &:nth-child(6) {
        grid-row: 6;
      }

      &:nth-child(7) {
        grid-column: 1 / 3;
      }
    }
  }

  .toolItem {
    min-height: 280px;
    padding: 28px;

    .wrap {
      max-width: 400px !important;
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }

    &:not(.top) {
      justify-content: flex-start;
    }

    &.left {
      img {
        top: 10px;
        right: -28px;
        height: 93%;
      }
    }

    &.right {
      img {
        left: -40px;
        height: 100%;
      }
    }

    &.type2 {
      img {
        @include transform(scale(0.63));
        @include transform-origin(73% 17%);
      }
    }

    &.type3 {
      img {
        @include transform(scale(0.83));
        @include transform-origin(65% 0%);
      }
    }

    &.type5 {
      img {
        top: -7px;
        right: -5px;
        height: 85%;
      }
    }
  }

  .newsSlider {
    display: block;

    .item {
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }
    }
  }

  .newsSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 34px;
      }
    }
  }

  .newsList {
    padding-right: 0px;

    .item {
      &+.item {
        margin-top: 40px;
      }
    }
  }

  .newsItem {
    position: relative;
    padding-left: 184px;
    max-width: 590px;

    .logo {
      position: absolute;
      top: 0px;
      left: 20px;

      &+.date {
        margin-top: 0px;
      }
    }

    .date {
      font-size: 12px;
      line-height: 20px;
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }

    .content {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .viewSection {
    padding-top: 60px;
    padding-bottom: 80px;

    .logo {
      position: relative;
      left: 5px;
      max-width: 360px;

      &+.title {
        margin-top: 16px;
      }
    }
  }

  footer {
    padding-top: 28px;
  }

  .footMenu {
    padding-right: 65px;

    .item {
      min-width: 180px;

      &+.item {
        margin-left: 36px;
      }
    }

    .title {
      &+ul {
        margin-top: 12px;
      }
    }

    ul {
      li {
        &+li {
          margin-top: 16px;
        }
      }

      &.cols {
        display: block;

        &>li {
          &+li {
            margin-top: 16px;
            margin-left: 0px;
          }
        }
      }

      &.contacts {
        li {
          &+li {
            margin-top: 14px;

            &:last-child {
              margin-top: 16px;
            }
          }
        }
      }
    }

    &+.footInfo {
      margin-top: 40px;
    }
  }

  .footInfo {
    position: relative;
    padding-left: 225px;
    padding-top: 28px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    align-items: flex-start;

    .logoBlock {
      position: absolute;
      top: 6px;
      left: -31px;
    }

    .copyrightBlock {
      padding-top: 0px;
      margin-left: 18px;

      &+.socBlock {
        margin-left: 16px;
      }
    }

    .loginBlock {
      margin-left: 18px;
      margin-right: 0px;
      padding-top: 12px;
    }

    .infoBlock {
      margin-left: 18px;
    }

    &>* {
      width: 200px;
    }
  }

  .copyright {
    span {
      margin-top: 8px;
    }
  }

  .socBlock {
    .title {

      &+* {
        margin-top: 8px;
      }
    }
  }

  .infoBlock {
    ul {
      li {
        &+li {
          margin-top: 8px;
        }
      }
    }
  }

  // 404

  .errorSection {
    padding-top: 60px;
    padding-bottom: 20px;

    .name {
      font-size: 18px;
      line-height: 28px;

      &+.title {
        margin-top: 12px;
      }
    }

    .title {
      &+.info {
        margin-top: 16px;
      }
    }


    .info {
      &+.links {
        margin-top: 28px;
      }
    }

    .links {
      flex-wrap: wrap;
      align-items: center;

      li {
        a {
          font-size: 18px;
          line-height: 28px;
        }

        &+li {
          margin-left: 47px;
        }
      }
    }

    .img {
      max-width: 705px;

      img {
        width: 100%;
      }
    }

    .error404 {
      margin-top: 80px;
    }

    .error500 {
      margin-top: 140px;
    }
  }

  // ABOUT

  .aboutSection {
    background-image: url(../../img/about_md.jpg) !important;
    background-position: center;

    .wrapper {
      max-width: 522px;
      height: 500px;
      padding-bottom: 40px;
    }
  }

  .historySection {
    .wrapper {
      max-width: 615px;
      margin-right: 0px;
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 50px;
      }
    }
  }

  .historyList {
    .historyItem {
      &+.historyItem {
        margin-top: 40px;
      }
    }
  }

  .historyItem {
    .date {
      width: 185px;
    }

    .content {
      p {
        &+p {
          margin-top: 18px;
        }
      }
    }

    .mark {
      top: -15px;
      right: calc(100% + 28px);
      width: 65px;
    }
  }

  .clientsSection {
    padding-top: 40px;
    padding-bottom: 55px;

    .titleContainer {
      &+.contentContainer {
        margin-top: 42px;
      }
    }
  }

  .clientsList {
    margin: -10px -15px;

    .item {
      padding: 10px 15px;
    }
  }

  .clientItem {
    width: 246px;
    @include transition(z-index 0.3s);

    .link {
      position: relative;
      top: 20px;
    }

    &::before {
      top: -20px;
      left: -20px;
      width: calc(100% + 40px);
      height: 160px;
    }

    &:hover {
      z-index: 2;

      .img {
        top: 0px;
      }
    }
  }

  // PRODUCTS

  .innerPage {
    .breadcrumbs {
      margin-bottom: 12px;
    }
  }

  .productsSection {
    .titleConatiner {
      &+.contentContainer {
        margin-top: 28px;
      }
    }
  }

  .productsBlock {
    display: block;

    .item {
      &+.item {
        margin-top: 20px;
      }
    }
  }

  .productItem {
    min-height: 320px;
    padding-left: 60px !important;

    .note {
      left: 60px;
    }

    &::before {
      width: 100%;
    }
  }

  .teamSection {
    padding-top: 80px;
    padding-bottom: 72px;
  }

  .tabsTemplate3 {
    .tabsList {
      li {
        .tabEl {
          font-size: 22px;
          line-height: 28px;
        }
      }
    }

    .tabContent {
      padding-top: 40px;
    }
  }

  // BLOG

  .mainBlogSection {
    padding-top: 8px;
    padding-bottom: 98px;

    .titleContainer {
      &+.contentContainer {
        margin-top: 16px;
      }
    }

    .pagination {
      margin-top: 78px;
    }
  }

  .tabsTemplate2 {
    .tabsList {
      li {
        .tabEl {
          padding-right: 8px;
          padding-bottom: 16px;
          font-size: 14px;
          line-height: 20px;
        }

        &+li {
          margin-left: 10px;

          .tabEl {
            padding-left: 8px;
          }
        }
      }
    }
  }

  .primaryBlogSection {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 34px;
    column-gap: 30px;
  }

  *+.simpleBlogSection {
    margin-top: 54px;
  }

  .simpleBlogSection {
    padding-left: 0px;
    padding-right: 0px;
    row-gap: 40px;
    column-gap: 30px;
  }

  .secondaryBlogSection {
    padding-left: 0px;
    padding-right: 0px;
    row-gap: 32px;
    column-gap: 30px;
  }

  [class*="blogItem"] {
    .info {
      li {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .blogItemLg {
    .img {
      height: 220px;
      @include border-radius(12px);
    }

    .contentWrap {
      padding-top: 16px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .blogItemMd {
    .img {
      height: 200px;
      @include border-radius(12px);
    }

    .contentWrap {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  // BLOG POST

  .blogSection {
    padding-top: 8px;
    padding-bottom: 80px;

    .titleContainer {
      .title {
        &+.info {
          margin-top: 12px;
        }
      }

      &+.contentContainer {
        margin-top: 20px;
      }
    }

    .textBlock {
      .note {
        max-width: 442px;
      }
    }

    * {

      &+.secCap,
      &+.thirdCap {
        margin-top: 40px;
      }

      &+.fourthCap {
        margin-top: 60px;
      }

      &+.fifthCap {
        margin-top: 40px;
      }

      &+.sixthCap {
        margin-top: 40px;
      }

      &+.imageTemplate {
        margin-top: 28px;
      }

      &+.linksList {
        margin-top: 28px;
      }

      &+.noteTemplate {
        margin-top: 60px;
      }

      &+.galleryTemplate {
        margin-top: 40px;
      }

      &+.quoteBlock {
        margin-top: 90px;
      }

      &+.sliderTemplate {
        margin-top: 60px;
      }

      &+.tableBlock {
        margin-top: 60px;
      }

      &+.tabsBlock {
        margin-top: 115px;
      }

      &+.linksMenu {
        margin-top: 40px;
      }

      &+.tableTemplate {
        margin-top: 115px;
      }

      &+.pagination {
        margin-top: 40px;
      }

      &+.formTemplate {
        margin-top: 80px;
      }
    }

    .secCap,
    .thirdCap,
    .fourthCap {
      &+* {
        margin-top: 12px;
      }
    }

    .fifthCap {
      &+* {
        margin-top: 8px;
      }
    }

    .tableTemplate {
      &+* {
        margin-top: 40px;
      }
    }

    .pagination {
      &+* {
        margin-top: 80px;
      }
    }

    .tabsBlock {
      &+* {
        margin-top: 40px;
      }
    }

    .formTemplate {
      &+* {
        margin-top: 80px;
      }
    }
  }

  .postInfo {
    li {
      font-size: 12px;
      line-height: 20px;

      &+li {
        margin-left: 29px;

        &::before {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .imageTemplate {
    .cap {
      margin-top: 12px;
      font-size: 12px;
      line-height: 20px;
    }

    &+* {
      margin-top: 20px;
    }
  }

  .linksList {
    display: block;

    .title {
      &+ul {
        margin-top: 8px;
      }
    }

    .col {
      width: 100%;

      &+.col {
        margin-top: 28px;
      }
    }

    .item {
      &+.item {
        margin-top: 28px;
      }
    }

    ul {
      li {
        &+li {
          margin-top: 8px;
        }
      }
    }

    &+* {
      margin-top: 60px;
    }
  }

  .noteTemplate {
    padding: 40px;
    font-size: 22px;
    line-height: 30px;
    @include border-radius(20px);

    &+* {
      margin-top: 60px;
    }
  }

  .withNote {
    .note {
      padding-left: 19px;
      font-size: 16px;
      line-height: 26px;
    }

    &+* {
      margin-top: 40px;
    }
  }

  .galleryTemplate {
    gap: 30px;

    .img {
      height: 220px;
    }

    &+* {
      margin-top: 40px;
    }
  }

  .remarkBlock {
    .remark {
      line-height: 20px;

      &.sm {
        width: 246px;
      }
    }
  }

  .quoteBlock {
    padding: 60px 60px 40px;

    &::before,
    &::after {
      top: -32px;
      width: 42px;
      height: 62px;
      background-size: contain;
    }

    &::before {
      right: 24px;
    }

    &::after {
      right: -24px;
    }

    .wrap {
      margin-left: 0px;
    }

    .img {
      width: 70px;
      height: 70px;

      &+.content {
        margin-left: 20px;
      }
    }

    .quote {
      font-size: 22px;
      line-height: 30px;

      &+.author {
        margin-top: 12px;
      }
    }

    .author {
      font-size: 12px;
      line-height: 20px;
    }

    &+* {
      margin-top: 40px;
    }
  }

  .sliderTemplate {
    max-width: 586px;

    .item {
      height: 288px;
    }

    .owl-nav {

      .owl-prev,
      .owl-next {
        margin-top: -30px;
        font-size: 28px !important;
      }

      .owl-prev {
        right: calc(100% + 28px);
      }

      .owl-next {
        left: calc(100% + 28px);
      }
    }

    .owl-dots {
      margin-top: 16px;

      .owl-dot {
        width: 30px;
        height: 4px;

        &+.owl-dot {
          margin-left: 4px;
        }
      }
    }

    &+* {
      margin-top: 60px;
    }
  }

  .tableBlock {
    .title {
      font-size: 22px;
      line-height: 30px;

      &+.table {
        margin-top: 20px;
      }
    }

    .table {
      margin-right: calc((100vw - 706px) / -2);
      overflow-x: scroll;
    }

    &+* {
      margin-top: 115px;
    }
  }

  .tableTemplate {
    display: block;

    .tableHead {
      display: flex;

      .tableCell {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .tableRow {
      display: flex;

      .tableCell {
        padding-top: 20px;
        font-size: 14px;
        line-height: 22px;
      }

      &:not(:last-child) {
        .tableCell {
          padding-bottom: 27px;
        }
      }
    }

    .tableCell {
      flex-shrink: 0;

      &:not(:last-child) {
        padding-right: 32px;
      }

      &.type {
        width: 185px;
      }

      &.date {
        width: 185px;
      }

      &.cap {
        width: 275px;
      }

      &.text {
        width: 335px;
      }
    }
  }

  .tabsBlock {
    &+* {
      margin-top: 40px;
    }
  }

  .tabsList {
    &.lg {
      li {
        font-size: 18px;
        line-height: 28px;

        .tabEl {
          padding-left: 19px;
          padding-right: 19px;
          padding-bottom: 12px;
        }

        &+li {
          margin-left: 2px;
        }
      }
    }

    &.sm {
      li {
        font-size: 14px;
        line-height: 22px;

        .tabEl {
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 16px;
        }

        &+li {
          margin-left: 4px;
        }
      }
    }
  }

  .linksMenu {
    li {
      a {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &+* {
      margin-top: 40px;
    }
  }

  .formTemplate {
    &.sm {
      max-width: 100%;
    }

    &.lg {
      .formFooter {
        margin-top: 29px;
      }
    }

    .formHeader {
      &+.formContent {
        margin-top: 20px;
      }
    }

    .fieldsWrap {
      column-gap: 30px;
      row-gap: 24px;
    }

    .formWrapper {
      .col {
        &.sm {
          width: 245px;
        }

        &+.col {
          margin-left: 30px;
        }
      }
    }

    .fieldItem {
      &+.fieldItem {
        margin-top: 25px;
      }
    }

    .formFooter {
      .note {
        margin-left: 20px;
      }
    }

    .note {
      font-size: 12px;
      line-height: 20px;
    }
  }

  // PRODUCT

  .productBanner {
    .bannerWrapper {
      min-height: auto;
      padding-bottom: 52px;
    }

    .breadcrumbs {
      &+* {
        margin-top: 18px;
      }
    }

    .wrapper {
      padding-left: 0px;
    }

    .backLink {
      display: none;
    }

    .text {
      &+.text {
        margin-top: 14px;
      }
    }

    .btnContainer {
      margin-top: 16px;
    }

    .note {
      margin-left: 16px;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .whomSection {
    padding-top: 80px;

    .titleContainer {
      font-size: 42px;
      line-height: 50px;

      &+.contentContainer {
        margin-top: 75px;
      }
    }

    .wrapper {
      display: block;
      width: 100%;
      padding-bottom: 33px;
    }

    .item {
      position: relative;
      max-width: 100%;

      &:nth-child(odd) {
        .whomItem {
          margin-left: auto;
        }

        .img {
          top: 5px;
          left: 74px;
        }
      }

      &:nth-child(even) {
        .img {
          top: -30px;
          right: -25px;
        }
      }

      &+.item {
        margin-top: 135px;
      }
    }

    &.lg {
      padding-top: 60px;

      .wrapper {
        display: block;
        padding-bottom: 0px;
      }

      .item {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        &+.item {
          margin-top: 40px;
        }
      }
    }

    &+* {
      margin-top: 80px;
    }
  }

  .whomItem {
    max-width: 338px;

    .title {
      margin-top: 0px;
    }

    .img {
      position: absolute;
      @include transform(scale(0.66));
      @include transform-origin(0px 0px);
    }

    &.sm {
      max-width: 100%;

      .img {
        position: static;
        height: 212px;
        @include transform(scale(1));
        @include transform-origin(0px 0px);

        img {
          display: block;
          width: auto;
          height: 100%;
          margin: 0px auto;
        }
      }
    }
  }

  *+.descriptionBlock {
    margin-top: 80px;
  }

  .descriptionBlock {
    display: block;
    max-width: 706px;
    padding: 40px;

    .title,
    .content {
      max-width: 522px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .content {
      margin-top: 20px;
      padding-top: 0px;
    }

    &+* {
      margin-top: 80px;
    }
  }

  *+.respSection {
    margin-top: 80px;
  }

  .respSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 40px;
      }
    }

    .wrapper {
      display: block;
      align-items: center;
    }

    .img {
      max-width: 522px;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 100%;
      }

      &+.content {
        margin-left: auto;
        margin-top: 36px;
      }
    }

    .content {
      max-width: 522px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    &+* {
      margin-top: 80px;
    }
  }

  *+.requestBlock {
    margin-top: 80px;
  }

  .requestBlock {
    position: relative;
    max-width: 706px;
    padding-left: 216px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 60px;
    display: block;

    .logo {
      position: absolute;
      top: 40px;
      left: 26px;
      width: 158px;

      img {
        width: 100%;
      }

      &+.content {
        margin-left: 0px;
      }
    }

    .content {
      max-width: 580px;

      &+[class*="btn"] {
        margin-left: 0px;
        margin-top: 20px;
      }
    }

    .title {
      &+.info {
        margin-top: 8px;
      }
    }

    &+* {
      margin-top: 80px;
    }
  }

  *+.advantagesSection {
    margin-top: 80px;
  }

  .advantagesSection {
    .noteBlock {
      margin-top: 108px;

      br {
        display: none;
      }
    }

    &+* {
      margin-top: 80px;
    }
  }

  .advantagesList {
    grid-template-columns: repeat(2, 300px);
    column-gap: 68px;
    row-gap: 24px;

    &.sm {
      grid-template-columns: repeat(2, 300px);
      column-gap: 68px;
      row-gap: 24px;
    }
  }

  .advantageItem {
    padding-top: 60px;

    .num {
      font-size: 120px;
      line-height: 120px;
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }
  }

  *+.productDescription {
    margin-top: 80px;
  }

  .productDescription {
    .titleContainer {
      text-align: center;

      .wrapper {
        display: block;
      }


      &+.contentContainer {
        margin-top: 40px;
      }
    }

    .info {
      padding-top: 0px;
      margin-top: 28px;
    }

    .contentContainer {
      .wrapper {
        display: block;
      }

      .item {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;

        &+.item {
          margin-top: 40px;
        }
      }
    }

    &+* {
      margin-top: 80px;
    }
  }

  .descriptionCard {
    display: flex;

    .title {
      &+.content {
        margin-top: 12px;
      }
    }

    .content {
      .text {
        &+.text {
          margin-top: 12px;
        }
      }
    }
  }

  *+.researchSection {
    margin-top: 80px;
  }

  .researchSection {
    &+* {
      margin-top: 80px;
    }
  }

  .researchList {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 44px;
  }

  *+.resultSection {
    margin-top: 80px;
  }

  .resultSection {
    max-width: 706px;
    padding-top: 60px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 90px;

    .titleContainer {
      &+.contentContainer {
        margin-top: 40px;
      }
    }

    &+* {
      margin-top: 80px;
    }
  }

  .resultList {
    .resultItem {
      &+.resultItem {
        margin-top: 72px;
      }
    }
  }

  .resultItem {
    display: block;

    .imgWrap {
      margin-left: auto;
      margin-right: auto;
      width: 522px;
      height: 328px;

      &.lg {
        width: 522px;
        height: 335px;
      }

      .in {
        @include transform(scale(0.7));
        @include transform-origin(0% 0%);
      }
    }

    .wrap {
      max-width: 338px;
      margin-left: auto;
      margin-right: auto;
    }

    .subtitle {
      &+.title {
        margin-top: 8px;
      }
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }
  }

  *+.testToolsSection {
    margin-top: 80px;
  }

  .testToolsSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 40px;
      }
    }

    &+* {
      margin-top: 100px;
    }
  }

  .testToolsList {
    grid-template-columns: repeat(2, 338px);
    gap: 30px;
  }

  .testToolItem {
    .img {
      &+.title {
        margin-top: 20px;
      }
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }
  }

  *+.uxFeaturesSection {
    margin-top: 100px;
  }

  .uxFeaturesSection {
    max-width: 706px;
    padding: 40px 30px;

    .titleContainer {
      &+.contentContainer {
        margin-top: 40px;
      }
    }

    &+* {
      margin-top: 80px;
    }
  }

  .uxFeaturesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .img {
      width: 62px;
      height: 62px;

      img {
        width: 100%;
      }
    }
  }

  *+.stepsSection {
    margin-top: 80px;
  }

  .stepsSection {
    .titleContainer {
      width: 338px;
    }

    .contentContainer {
      margin-left: 30px;
      width: 338px;
    }

    &+* {
      margin-top: 80px;
    }
  }

  .stepsList {
    .stepItem {
      &+.stepItem {
        margin-top: 40px;
      }
    }
  }

  .stepItem {
    .num {
      position: relative;
      top: 4px;
      width: 62px;
      height: 62px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  *+.featuresSection {
    margin-top: 80px;
  }

  .featuresSection {
    .titleContainer {
      font-size: 30px;
      line-height: 38px;
    }

    .hideContent {
      margin-top: 30px;
    }

    &+* {
      margin-top: 80px;
    }
  }

  .featuresList {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      grid-auto-flow: row dense;

      &+.hiddenBlock {
        margin-top: 30px;
      }
    }

    .item {

      &.left,
      &.right {
        grid-column: 1 / 3;
      }
    }
  }

  .featureItem {
    padding: 28px;
    min-height: 280px;
    @include border-radius(16px);

    .title {
      &+.content {
        margin-top: 8px;
      }
    }
  }

  *+.tariffsSection {
    margin-top: 80px;
  }

  .tariffsSection {
    padding-top: 80px;
    padding-bottom: 80px;

    * {
      &+.tariffsTableWrapper {
        margin-top: 85px;

        &.sm {
          margin-top: 85px;
        }
      }

      &+.tariffInfo {
        margin-top: 40px;
      }
    }
  }

  .tariffsIntro {
    padding-right: 0px;

    .infoWrapper {
      max-width: 500px;
      margin-left: 28px;
      padding-left: 29px;
      padding-top: 12px;
      padding-bottom: 4px;
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }

    &.center {
      padding-right: 0px;
    }
  }

  .tariffsTableWrapper {
    overflow-x: scroll;
    margin-right: calc((100vw - 706px) / -2);
    margin-left: calc((100vw - 706px) / -2);

    .tableWrapper {
      margin-left: 31px;
      margin-right: 31px;
    }
  }

  .tariffsTable {
    margin-left: -15px;
    margin-right: -15px;

    .tHead {
      .tCell {
        .in {
          padding-bottom: 10px;
        }
      }
    }

    .tRow {
      .tCell {
        font-size: 14px;
        line-height: 22px;
      }

      .disabled {
        font-size: 16px;
      }
    }

    .tCell {
      padding-left: 15px;
      padding-right: 15px;
      flex-basis: max(276px, 25%);

      .in {
        padding-top: 18px;
        padding-bottom: 18px;
      }

      &.lg {
        flex-basis: max(552px, 50%);
      }
    }

    .dataBlock {
      [class*="icon"] {
        font-size: 58px;
      }

      .title {
        &+.content {
          margin-top: 8px;
        }
      }

      .content {
        font-size: 14px;
        line-height: 22px;
      }
    }

    .price {
      padding-top: 0px;

      .rub {
        font-size: 18px;
        line-height: 26px;
      }

      .usd {
        font-size: 14px;
        line-height: 22px;
      }
    }

    .buttons {
      margin-top: 8px;

      [class*="btn"] {
        &+a {
          margin-top: 18px;
        }
      }
    }

    .payment {
      font-size: 14px;
      line-height: 22px;
    }

    .costParam {
      padding-top: 0px;
      padding-bottom: 0px;

      .cost {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .costData {
      font-size: 24px;
      line-height: 30px;
    }

    &.sm {
      .tRow {
        padding-right: 0px;
        justify-content: center;

        &:nth-child(1) {
          .tCell {
            padding-top: 10px;
          }
        }
      }

      .tCell {
        width: 276px;
        max-width: 276px;
        flex-basis: max(276px, 25%);
        flex-grow: 1;
        padding-left: 15px;
        padding-right: 15px;

        &:last-child {
          margin-right: auto;
        }
      }

      .param {
        margin-left: auto;
        width: 400px;
        max-width: 400px;
        flex-basis: max(276px, 25%);
      }

      a {
        margin: 0px auto;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &.md {

      .tRow,
      .tHead {
        justify-content: flex-start;
      }

      .tCell {
        &:last-child {
          margin-right: auto;
        }
      }

      .param {
        width: 276px;
        flex-basis: max(276px, 25%);
        margin-left: auto;
      }
    }
  }

  .tariffInfo {
    .info {
      &+[class*="btn"] {
        margin-top: 28px;
      }
    }
  }
}