@media (max-width: $maxMediaXS) {

  .container,
  .containerLg,
  .containerMd {
    width: 100%;
    max-width: 400px;
    padding: 0px 17px;
  }

  .owl-carousel {
    .owl-dots {
      .owl-dot {
        width: 30px;
        height: 4px;
        @include border-radius(4px);
      }
    }
  }

  .siteLogo {
    width: 184px;
  }

  .headerSection {
    background: $gradColor2;
  }

  header {
    .headerWrapper {
      height: 60px;
    }

    .logoWrapper {
      left: -38px;
      top: -7px;
      margin-right: -38px;
      z-index: 7;
    }

    .openMenuBtn {
      margin-left: 18px;
    }

    .menuList {
      margin-top: 28px;
    }
  }

  .openMenuBtn {
    width: 20px;

    span {
      &+span {
        margin-top: 6px;
      }
    }
  }

  .headerInfo {
    max-width: 400px;
    padding-top: 75px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 12px;
  }

  .navList {
    display: block;
    padding-left: 43px;

    .dropdown {
      &+.dropdown {
        margin-left: 0px;
      }
    }

    li {
      &+li {
        margin-left: 0px;
        margin-top: 16px;
      }
    }
  }

  .menuList {
    display: block;
    padding-left: 43px;
    padding-top: 28px;

    li {

      &>a,
      &>span {
        padding-right: 30px;
        font-size: 16px;
        line-height: 24px;
      }

      &+li {
        margin-top: 16px;
      }
    }
  }

  .dropdownMenu {
    padding-top: 20px;
    padding-left: 20px;

    .inner {
      display: block;
    }

    .item {
      &+.item {
        margin-left: 0px;
        margin-top: 28px;
      }
    }
  }

  .startScreen {
    padding-top: 243px;
    padding-bottom: 30px;

    .img {
      width: 340px;
      top: 19px;
      margin-right: -170px;
    }

    .titleContainer {
      br {
        display: none;
      }
    }

    .wrapper {
      &+.demoBlock {
        margin-top: 40px;
      }
    }

    .demoBlock {
      &+.clientsBlock {
        margin-top: 40px;
      }
    }
  }

  .demoBlock {
    max-width: 285px;
    text-align: center;

    [class*="btn"] {
      &+span {
        margin-top: 12px;
      }
    }

    span {
      font-size: 12px;
    }
  }

  .clientsBlock {
    .title {
      &+.wrap {
        margin-top: 24px;
      }
    }

    .wrap {
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 80px;
        height: 100%;
        @include linear-gradientH($color2-2-a0, $color2-2);
        z-index: 1;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: -17px;
        width: 17px;
        height: 100%;
        @include linear-gradientH($color2-2, $color2-2-a0);
        z-index: 1;
      }
    }

    .list {
      margin-left: -17px;
      padding-left: 17px;
      overflow-x: scroll;

      li {
        margin-right: 0px;
        padding-right: 38px;
      }
    }
  }

  .contentSection {
    padding-bottom: 40px;
  }

  .manageImg {
    &.md {
      display: none;
    }

    &.sm {
      display: block;
    }
  }

  .manageSection {
    .rightSide {
      margin-top: 12px;
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 16px;
      }
    }

    &+.dataSection {
      margin-top: 75px;
    }
  }

  .dataSection {
    .rightSide {
      height: 270px;
    }

    .info {
      &+.img {
        margin-top: 20px;
      }
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 16px;
      }
    }

    .dataDemo {
      top: 39px;
      right: auto;
      left: 50%;
      margin-left: -76px;
      @include transform(scale(0.435));
      @include transform-origin(0% 0%);

      .slickSliderDots {
        @include transform(scale(1.73));
        @include transform-origin(0%);
      }
    }

    &+.cycleSection {
      margin-top: 121px;
    }
  }

  .dataSlider {
    .slickSliderDots {
      margin-top: 147px;
      padding-left: 33px;
    }
  }

  .slickSliderDots {
    li {
      &+li {
        margin-left: 11px;
      }
    }
  }

  .cycleSection {
    .titleContainer {
      &::before {
        top: -40px;
        margin-left: -65px;
        width: 130px;
        height: 130px;
      }
    }
  }

  .cycleSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 18px;
      }
    }

    .cycleWrapper {
      &+.noteBlock {
        margin-top: 112px;
      }
    }

    &+.platformSection {
      margin-top: 74px;
    }
  }

  .cycleWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: calc(((100vw - 400px) / -2) - 17px);
    margin-right: calc(((100vw - 400px) / -2) - 17px);
    height: 479px;
  }

  .cycleBlock {
    width: 760px;
    height: 620px;
    margin: 0px auto;
    @include transform(scale(0.7));
    @include transform-origin(50% 0%);

    .img {
      width: 760px;
      left: 0px;
      overflow: hidden;
    }

    .list {
      width: 895px;

      li {
        &:nth-child(1) {
          left: 20px;
          bottom: 63px;
        }

        &:nth-child(2) {
          right: 100px;
        }

        &:nth-child(3) {
          right: 35px;
        }

        &:nth-child(4) {
          right: 60px;
          top: 44px;
        }

        &:nth-child(5) {
          left: 37px;
          top: 105px;
        }

        &:nth-child(6) {
          left: 20px;
          top: 260px;
        }
      }
    }
  }

  .noteBlock {
    margin-left: -40px;
    margin-right: -40px;
    padding: 46px 57px 40px;
    font-size: 16px;
    line-height: 24px;

    .img {
      width: 130px;
      top: -35px;
    }
  }

  .platformSection {
    .titleContainer {
      text-align: left;
    }

    &+.toolsSection {
      margin-top: 80px;
    }
  }

  .platformList {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
  }

  .platformItem {
    padding-left: 77px;

    .content {
      padding-right: 5px;
    }

    .title {
      &+.info {
        margin-top: 4px;
      }
    }
  }

  .toolsSection {
    .titleContainer {
      text-align: left;

      &+.contentContainer {
        margin-top: 20px;
      }
    }

    &+.newsSection {
      margin-top: 60px;
    }
  }

  .toolsList {
    display: flex;
    flex-direction: column;
    gap: 0px;

    .item {
      &+.item {
        margin-top: 16px;
      }

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 4;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 3;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 7;
      }

      &:nth-child(7) {
        order: 6;
      }
    }
  }

  .toolItem {
    padding: 20px;
    min-height: 200px;
    @include border-radius(12px);

    img {
      display: none !important;
    }

    .title {
      font-size: 16px;
      line-height: 24px;

      &+.content {
        margin-top: 8px;
      }
    }

    .content {
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &:not(.top) {
      justify-content: flex-end;
    }
  }

  .newsSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 20px;
      }
    }
  }

  .newsItem {
    padding-left: 0px;

    .logo {
      display: none;

      &+.date {
        margin-top: 0px;
      }
    }

    .date {
      &+.title {
        margin-top: 6px;
      }
    }

    .title {
      &+.content {
        margin-top: 5px;
      }
    }

    .content {
      &+.moreLink {
        margin-top: 8px;
      }
    }
  }

  .viewSection {
    padding-top: 33px;
    padding-bottom: 60px;

    .logo {
      left: 5px;
      max-width: 240px;

      &+.title {
        margin-top: 21px;
      }
    }

    .title {
      &+.info {
        margin-top: 12px;
      }
    }

    .info {
      &+[class*="btn"] {
        margin-top: 28px;
      }
    }
  }

  footer {
    padding-top: 28px;
  }

  .footMenu {
    padding-right: 0px;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: 130px;
      min-width: 130px;
      padding-right: 16px;

      &:last-child {
        margin-top: 28px;
      }

      &+.item {
        margin-left: 0px;
      }
    }

    .title {
      line-height: 18px;

      &+.contacts {
        margin-top: 8px;
      }
    }

    ul {
      li {
        min-width: 130px;
        max-width: 100%;
      }

      &.cols {
        display: block;

        li {
          &+li {
            margin-top: 16px;
            margin-left: 0px;
          }
        }
      }

      &.contacts {
        li {
          &+li {
            margin-top: 12px;
          }
        }
      }
    }

    &+.footInfo {
      margin-top: 28px;
    }
  }

  .footInfo {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 28px;
    flex-direction: column;
    align-items: center;

    &>* {
      width: 100%;
    }

    .logoBlock {
      position: relative;
      top: 0px;
      left: 0px;
      margin-right: 0px;
      display: flex;
      justify-content: center;
      order: 1;

      .siteLogo {
        width: 200px;
      }
    }

    .copyrightBlock {
      margin-left: 0px;
      margin-top: 10px;
      order: 2;

      &+.socBlock {
        margin-left: 0px;
      }
    }

    .socBlock {
      padding-top: 20px;
      order: 4;
    }

    .loginBlock {
      margin-left: 0px;
      margin-top: 16px;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
      order: 3;
    }

    .infoBlock {
      width: 100%;
      margin-left: 0px;
      margin-top: 20px;
      text-align: center;
      order: 5;

      ul {
        li {
          &+li {
            margin-top: 12px;
          }
        }
      }
    }
  }

  .copyright {
    line-height: 18px;
    text-align: center;
  }

  .socBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      line-height: 16px;
    }
  }

  .socList {
    li {
      &+li {
        margin-left: 13px;
      }
    }
  }

  // 404

  .errorSection {
    padding-top: 40px;
    padding-bottom: 5px;

    .name {
      font-size: 16px;
      line-height: 24px;

      &+.title {
        margin-top: 8px;
      }
    }

    .title {
      &+.info {
        margin-top: 12px;
      }
    }

    .links {
      flex-direction: column;
      align-items: center;

      li {
        a {
          font-size: 16px;
          line-height: 24px;
        }

        &+li {
          margin-left: 0px;
          margin-top: 16px;

          &::before {
            display: none;
          }
        }
      }
    }

    .img {
      position: relative;
      width: 100%;
      height: 212px;

      img {
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -200px;
        width: 400px;
      }
    }

    .error404 {
      margin-top: 40px;
    }

    .error500 {
      margin-top: 60px;
    }
  }

  // ABOUT

  .aboutSection {
    background-image: none !important;

    .imgSm {
      display: block;
      margin-bottom: 20px;

      img {
        display: block;
        max-width: 100%;
        min-height: 220px;
      }
    }

    .wrapper {
      height: auto;
      padding-bottom: 0px;
    }

    .titleContainer {
      span {
        color: $color2-1
      }

      &+.contentContainer {
        margin-top: 8px;
      }
    }

    .contentContainer {
      .lead {
        color: $color2-1
      }
    }
  }

  .historySection {
    padding-top: 40px;
    padding-bottom: 40px;

    .wrapper {
      width: 100%;
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 20px;
      }
    }
  }

  .historyItem {
    display: block;

    .date {
      position: relative;
      display: inline-block;
      width: auto;

      &+.content {
        margin-top: 12px;
      }
    }

    .content {
      p {
        &+p {
          margin-top: 20px;
        }
      }
    }

    .mark {
      top: -24px;
      right: auto;
      left: calc(100% + 10px);
      width: 50px;
    }
  }

  .clientsSection {
    padding-top: 20px;
    padding-bottom: 60px;

    .wrapper {
      padding-left: 17px;
      padding-right: 17px;
      max-width: 400px;
    }

    .titleContainer {
      text-align: left;

      &+.contentContainer {
        margin-top: 22px;
      }
    }
  }

  .clientsList {
    .item {
      padding: 9px 13px;
    }
  }

  .clientItem {
    width: 130px;

    a {
      padding-right: 0px;
      font-size: 12px;
      line-height: 18px;

      &::before {
        display: none;
      }
    }

    &::before {
      top: -11px;
      left: -13px;
      width: calc(100% + 24px);
      height: 95px;
    }
  }

  // PRODUCTS

  .innerPage {
    padding-top: 12px;
  }

  .productsSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 20px;
      }
    }
  }

  .productsBlock {
    .item {
      &+.item {
        margin-top: 12px;
      }
    }
  }

  .productItem {
    min-height: 300px;
    margin-left: -17px;
    margin-right: -17px;
    padding-left: 17px !important;
    padding-right: 17px;
    padding-top: 28px;
    padding-bottom: 40px;
    overflow: hidden;

    .wrap {
      &+[class*="btn"] {
        margin-top: 20px;
      }
    }

    .note {
      left: 17px;
    }

    .title {
      &+.subtitle {
        margin-top: 4px;
      }
    }

    .subtitle {
      &+.content {
        margin-top: 8px;
      }
    }
  }

  .teamSection {
    padding-top: 74px;

    .tabsOptions {
      display: block;
    }
  }

  .tabsTemplate3 {
    .tabsList {
      display: none;
    }
  }

  // BLOG

  .mainBlogSection {
    padding-top: 0px;
    padding-bottom: 60px;

    .titleContainer {
      &+.contentContainer {
        margin-top: 12px;
      }
    }

    .tabsOptions {
      display: block;
    }

    .pagination {
      display: none;
    }

    .paginationSm {
      display: flex;
      margin-top: 60px;
    }
  }

  .tabsTemplate2 {
    .tabsList {
      display: none;
    }

    .tabContent {
      padding-top: 28px;
    }
  }

  .primaryBlogSection {
    display: block;

    .item {
      &+.item {
        margin-top: 40px;
      }
    }

    &+* {
      margin-top: 40px;
    }
  }

  * {
    &+.simpleBlogSection {
      padding-top: 28px;
    }

    &+.secondaryBlogSection {
      padding-top: 40px;
    }
  }

  .simpleBlogSection {
    display: block;

    .item {
      &+.item {
        margin-top: 28px;
      }
    }

    &+* {
      margin-top: 28px;
    }
  }

  .secondaryBlogSection {
    display: block;

    .item {
      &+.item {
        margin-top: 40px;
      }
    }
  }

  .blogItemLg {
    .img {
      height: 180px;
    }
  }

  .blogItemMd {
    .img {
      width: 208px;
      height: 124px;
      @include border-radius(8px);
    }

    .contentWrap {
      padding-top: 12px;
    }
  }

  // BLOG POST

  .blogSection {
    padding-bottom: 60px;

    .titleContainer {
      .title {
        &+.info {
          margin-top: 8px;
        }
      }

      &+.contentContainer {
        margin-top: 22px;
      }
    }

    .textBlock {
      .note {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    * {
      &+.fourthCap {
        margin-top: 25px;
      }

      &+.imageTemplate {
        margin-top: 20px;
      }

      &+.noteTemplate {
        margin-top: 40px;
      }

      &+.withNote {
        margin-top: 25px;
      }

      &+.galleryTemplate {
        margin-top: 28px;
      }

      &+.quoteBlock {
        margin-top: 72px;
      }

      &+.sliderTemplate {
        margin-top: 40px;
      }

      &+.tableBlock {
        margin-top: 69px;
      }

      &+.tabsBlock {
        margin-top: 60px;
      }

      &+.linksMenu {
        margin-top: 40px;
      }

      &+.tableTemplate {
        margin-top: 115px;
      }

      &+.paginationSm {
        margin-top: 40px;
      }

      &+.formTemplate {
        margin-top: 105px;
      }
    }

    .secCap,
    .thirdCap,
    .fourthCap {
      &+* {
        margin-top: 12px;
      }
    }

    .tableTemplate {
      &+* {
        margin-top: 40px;
      }
    }

    .pagination {
      &+* {
        margin-top: 40px;
      }
    }

    .tabsTemplate {
      .tabsList {
        display: none;
      }
    }

    .tabsBlock {
      &+.tabsBlock {
        margin-top: 28px;
      }

      &+* {
        margin-top: 40px;
      }
    }

    .pagination {
      display: none;
    }

    .paginationSm {
      display: flex;
    }

    .formTemplate {
      &+* {
        margin-top: 40px;
      }
    }
  }

  .postInfo {
    flex-wrap: wrap;

    li {
      font-size: 12px;
      line-height: 18px;

      [class*="icon"] {
        margin-right: 4px;
        font-size: 12px;
      }

      &+li {
        margin-left: 21px;

        &::before {
          right: calc(100% + 8px);
          font-size: 12px;
        }
      }

      &:last-child {
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;

        &::before {
          display: none;
        }
      }
    }
  }

  .imageTemplate {
    margin-left: -17px;
    margin-right: -17px;

    .cap {
      margin-top: 8px;
      padding-left: 17px;
      padding-right: 17px;
      line-height: 18px;
    }

    &+* {
      margin-top: 24px;
    }
  }

  .linksList {
    padding-left: 20px;
    padding-right: 20px;

    .title {
      &+ul {
        margin-top: 4px;
      }
    }

    .col {
      &+.col {
        margin-top: 20px;
      }
    }

    .item {
      &+.item {
        margin-top: 20px;
      }
    }

    ul {
      li {
        &+li {
          margin-top: 12px;
        }
      }
    }

    &+* {
      margin-top: 40px;
    }
  }

  .noteTemplate {
    margin-left: -17px;
    margin-right: -17px;
    padding: 28px 17px;
    font-size: 16px;
    line-height: 24px;
    @include border-radius(0px);

    &+* {
      margin-top: 25px;
    }
  }

  .withNote {
    .wrapper {
      display: block;
    }

    .content {
      &+.note {
        margin-left: 20px;
        margin-top: 26px;
      }
    }

    .note {
      width: 100%;
      padding-left: 16px;
      padding-right: 17px;
      font-size: 14px;
      line-height: 22px;
    }

    &+* {
      margin-top: 28px;
    }
  }

  .galleryTemplate {
    display: block;

    .imageTemplate {
      margin: 0px;
    }

    .item {
      &+.item {
        margin-top: 20px;
      }
    }

    .img {
      height: 180px;
    }

    .cap {
      padding: 0px;
    }
  }

  .remarkBlock {
    display: block;

    .remark {
      width: 100%;
      line-height: 18px;

      &.sm {
        width: 100%;
      }

      &+.remark {
        margin-left: 0px;
        margin-top: 20px;
      }
    }
  }

  .quoteBlock {
    position: relative;
    padding: 50px 17px 28px;
    margin-left: -17px;
    margin-right: -17px;
    @include border-radius(0px);

    &::before,
    &::after {
      left: auto;
      top: -28px;
      margin: 0px;
    }

    &::before {
      right: 42px;
    }

    &::after {
      right: 20px;
    }

    .img {
      position: absolute;
      top: -32px;
      left: 17px;

      &+.content {
        margin-left: 0px;
      }
    }

    .quote {
      font-size: 16px;
      line-height: 24px;
    }

    .author {
      line-height: 18px;
    }

    &+* {
      margin-top: 28px;
    }
  }

  .sliderTemplate {
    .item {
      height: 160px;
    }

    .owl-nav {

      .owl-prev,
      .owl-next {
        top: 100%;
        margin-top: -8px;
        font-size: 14px !important;
      }

      .owl-prev {
        right: calc(100% - 73px);
      }

      .owl-next {
        left: calc(100% - 73px);
      }
    }

    .owl-dots {
      margin-top: 17px;

      .owl-dot {
        width: 20px;
        height: 2px;
      }
    }

    &+* {
      margin-top: 69px;
    }
  }

  .tableBlock {
    .title {
      font-size: 20px;
      line-height: 28px;
    }

    .table {
      margin-right: calc((100vw - 366px) / -2);
    }

    &+* {
      margin-top: 60px;
    }
  }

  .tableTemplate {
    .tableHead {
      .tableCell {
        line-height: 18px;
        padding-bottom: 19px;
      }
    }

    .tableRow {
      .tableCell {
        padding-top: 16px;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .tableCell {
      flex-shrink: 0;

      &:not(:last-child) {
        padding-right: 16px;
      }

      &.type {
        width: 155px;
      }

      &.date {
        width: 155px;
      }

      &.cap {
        width: 245px;
      }

      &.text {
        width: 285px;
      }
    }
  }

  .tabsBlock {
    .tabsOptions {
      display: block;
    }
  }

  .tabsList {
    &.lg {
      li {
        font-size: 18px;
        line-height: 28px;

        .tabEl {
          padding-left: 19px;
          padding-right: 19px;
          padding-bottom: 12px;
        }

        &+li {
          margin-left: 2px;
        }
      }
    }

    &.sm {
      li {
        font-size: 14px;
        line-height: 22px;

        .tabEl {
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 16px;
        }

        &+li {
          margin-left: 4px;
        }
      }
    }
  }

  .linksMenu {
    display: block;
    padding-left: 40px;

    li {
      &+li {
        margin-left: 0px;
        margin-top: 16px;
      }
    }

    &+* {
      margin-top: 40px;
    }
  }

  .formTemplate {
    &.sm {
      .attachBtn {
        padding-top: 16px;
      }
    }

    &.lg {
      .formFooter {
        margin-top: 30px;
      }
    }

    .formContent {
      &+.formFooter {
        margin-top: 30px;
      }
    }

    .fieldset {
      &+.fieldset {
        margin-top: 16px;
      }
    }

    .fieldsWrap {
      display: block;
    }

    .inBlock {
      &+.inBlock {
        margin-top: 16px;
      }
    }

    .formWrapper {
      display: block;

      .col {
        width: 100%;

        &.sm {
          width: 100%
        }

        &+.col {
          margin-left: 0px;
          margin-top: 16px;
        }
      }
    }

    .fieldItem {
      &+.fieldItem {
        margin-top: 16px;
      }
    }

    .attachBtn {
      display: block;
      padding-top: 16px;
      text-align: center;
    }

    .formFooter {
      flex-direction: column;
      align-items: center;

      [class*="btn"] {
        width: 100%;
      }

      .note {
        margin-left: 0px;
        margin-top: 16px;
      }
    }

    .note {
      line-height: 18px;
      text-align: center;
    }
  }

  // PRODUCT

  .productBanner {
    .bannerWrapper {
      padding-top: 12px;
      padding-bottom: 52px;
    }

    .breadcrumbs {
      &+* {
        margin-top: 22px;
      }
    }

    .titleContainer {
      &+.contentContainer {
        margin-top: 12px;
      }
    }

    .text {
      &+.text {
        margin-top: 16px;
      }
    }

    .btnContainer {
      margin-top: 28px;
    }

    .note {
      position: absolute;
      top: calc(100% + 12px);
      left: 0px;
      margin-left: 0px;
    }

    &+.advantagesSection {
      margin-top: 60px;
    }
  }

  .whomSection {
    padding-top: 60px;

    .titleContainer {
      font-size: 36px;
      line-height: 43px;

      &+.contentContainer {
        margin-top: 62px;
      }
    }

    .wrapper {
      padding-bottom: 0px;
    }

    .item {
      &:nth-child(odd) {
        .img {
          top: 0px;
          left: -10px;
          right: 0px;
          margin: 0px auto;
        }
      }

      &:nth-child(even) {
        .img {
          top: 8px;
          left: -2px;
          right: 0px;
          margin: 0px auto;
          @include transform(scale(0.56));
        }
      }

      &+.item {
        margin-top: 45px;
      }
    }

    &.lg {
      padding-top: 40px;

      .item {
        &+.item {
          margin-top: 28px;
        }
      }
    }

    &+* {
      margin-top: 60px;
    }
  }

  .whomItem {
    position: relative;
    max-width: 100%;
    padding-top: 207px;

    .img {
      @include transform(scale(0.58));
      @include transform-origin(50% 0px);

      &+.title {
        margin-top: 0px;
      }
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }

    .textBlock {
      .lead {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &.sm {
      padding-top: 0px;

      .img {
        height: 180px;
        @include transform(scale(1) !important);
        @include transform-origin(0% 0%);

        &+.title {
          margin-top: 12px;
        }
      }
    }
  }

  *+.descriptionBlock {
    margin-top: 60px;
  }

  .descriptionBlock {
    max-width: 400px;
    padding-left: 17px;
    padding-right: 17px;

    .content {
      margin-top: 12px;
    }

    &+* {
      margin-top: 60px;
    }
  }

  *+.respSection {
    margin-top: 60px;
  }

  .respSection {
    .img {
      &+.content {
        margin-top: 26px;
      }
    }

    &+* {
      margin-top: 60px;
    }
  }

  *+.requestBlock {
    margin-top: 60px;
  }

  .requestBlock {
    max-width: 400px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo {
      position: static;
      width: 130px;
      margin-left: auto;
      margin-right: auto;

      &+.content {
        margin-top: 16px;
      }
    }

    .title {
      &+.info {
        margin-top: 12px;
      }
    }

    .content {
      &+[class*="btn"] {
        margin-top: 20px;
      }
    }

    &+* {
      margin-top: 60px;
    }
  }

  *+.advantagesSection {
    margin-top: 60px;
  }

  .advantagesSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 28px;
      }
    }

    .noteBlock {
      margin-top: 94px;
    }

    &+* {
      margin-top: 60px;
    }
  }

  .advantagesList {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;

    &.sm {
      grid-template-columns: repeat(1, 1fr);
      gap: 28px;
    }
  }

  .advantageItem {
    padding-top: 0px;
    padding-left: 78px;

    .num {
      top: -5px;
      left: -30px;
      font-size: 80px;
      line-height: 80px;
    }
  }

  *+.productDescription {
    margin-top: 60px;
  }

  .productDescription {
    &+* {
      margin-top: 60px;
    }
  }

  .descriptionCard {
    display: flex;

    .img {
      width: 62px;
      height: 62px; 

      img {
        width: 100%;
      }

      &+.wrap {
        margin-left: 20px;
      }
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }

    .content {
      .text {
        &+.text {
          margin-top: 8px;
        }
      }
    }
  }

  *+.researchSection {
    margin-top: 60px;
  }

  .researchSection {
    .titleContainer {
      &+.contentContainer {
        margin-top: 28px;
      }
    }

    &+* {
      margin-top: 60px;
    }
  }

  .researchList {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
  }

  .researchItem {
    padding-left: 78px;

    .num {
      top: -4px;
    }
  }

  *+.resultSection {
    margin-top: 60px;
  }

  .resultSection {
    max-width: 400px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 52px;

    .wrapper {
      max-width: 400px;
      margin: 0px auto;
    }

    .titleContainer {
      padding-left: 17px;
      padding-right: 17px;

      &+.contentContainer {
        margin-top: 27px;
      }
    }

    &+* {
      margin-top: 60px;
    }
  }

  .resultList {
    .resultItem {
      &+.resultItem {
        margin-top: 39px;
      }
    }
  }

  .resultItem {
    .imgWrap {
      width: 320px;
      height: 202px;

      &.lg {
        width: 320px;
        height: 206px;
      }

      .in {
        @include transform(scale(0.43));
      }
    }

    .wrap {
      max-width: 286px;
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  *+.testToolsSection {
    margin-top: 60px;
  }

  .testToolsSection {
    &+* {
      margin-top: 60px;
    }
  }

  .testToolsList {
    display: block;

    .item {
      &+.item {
        margin-top: 40px;
      }
    }
  }

  .testToolItem {
    .img {
      width: 182px;
      margin: 0px auto;

      &+.title {
        margin-top: 16px;
      }
    }
  }

  *+.uxFeaturesSection {
    margin-top: 60px;
  }

  .uxFeaturesSection {
    max-width: 400px;
    padding: 30px 17px;

    &+* {
      margin-top: 60px;
    }
  }

  .uxFeaturesList {
    display: block;

    .item {
      &+.item {
        margin-top: 40px;
      }
    }

    .img {
      width: 52px;
      height: 52px;
    }
  }

  *+.stepsSection {
    margin-top: 60px;
  }

  .stepsSection {
    .wrapper {
      display: block;
    }

    .titleContainer {
      width: 100%;
    }

    .contentContainer {
      width: 100%;
      margin-left: 0px;
      margin-top: 28px;
    }

    &+* {
      margin-top: 60px;
    }
  }

  .stepsList {
    .stepItem {
      &+.stepItem {
        margin-top: 28px;
      }
    }

    &.sm {
      .stepItem {
        &+.stepItem {
          margin-top: 28px;
        }
      }
    }
  }

  .stepItem {
    .num {
      position: relative;
      top: 0px;
      width: 52px;
      height: 52px;
      font-size: 26px;
      line-height: 26px;

      &+.content {
        margin-left: 26px;
      }
    }
  }

  *+.featuresSection {
    margin-top: 60px;
  }

  .featuresSection {
    .titleContainer {
      font-size: 22px;
      line-height: 30px;

      &+.contentContainer {
        margin-top: 20px;
      }
    }

    .hideContent {
      margin-top: 16px;
    }

    &+* {
      margin-top: 60px;
    }
  }

  .featuresList {

    .wrapper {
      display: block;

      &+.hiddenBlock {
        margin-top: 16px;
      }
    }

    .item {
      &+.item {
        margin-top: 16px;
      }
    }
  }

  .featureItem {
    padding: 20px;
    min-height: 200px;
    @include border-radius(12px);

    .title {
      &+.content {
        margin-top: 4px;
      }
    }

    .content {
      font-size: 12px;
      line-height: 18px;
    }

    img {
      display: none;
    }
  }

  *+.tariffsSection {
    margin-top: 60px;
  }

  .tariffsSection {
    padding-top: 30px;
    padding-bottom: 40px;

    * {
      &+.tariffsTableWrapper {
        margin-top: 50px;

        &.sm {
          margin-top: 50px;
        }
      }
    }
  }

  .tariffsIntro {
    display: block;

    .logoWrapper {
      display: flex;
      justify-content: center;
    }

    .infoWrapper {
      margin-left: 0px;
      margin-top: 13px;
      padding-left: 0px;
      padding-top: 20px;
      padding-bottom: 0px;
      text-align: center;
      border-left: none;
      border-top: 1px solid $color1-a2;
    }

    .content {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .tariffsTableWrapper {
    margin-right: calc((100vw - 366px) / -2);
    margin-left: calc((100vw - 366px) / -2);

    .tableWrapper {
      margin-left: 17px;
      margin-right: 17px;
    }
  }

  .tariffsTable {
    margin-left: -13px;
    margin-right: -13px;

    .tHead {
      .tCell {
        .in {
          padding-top: 16px;
          padding-bottom: 12px;
        }
      }
    }

    .tRow {
      .tCell {
        font-size: 12px;
        line-height: 18px;
      }

      .disabled,
      .check {
        font-size: 16px;
      }

      &:last-child {
        .in {
          padding-bottom: 16px;
        }
      }
    }

    .tCell {
      padding-left: 13px;
      padding-right: 13px;
      flex-basis: max(234px, 25%);

      .in {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      &.lg {
        flex-basis: max(468px, 50%);
      }
    }

    .dataBlock {
      .title {
        &+.content {
          margin-top: 4px;
        }
      }

      .content {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .dataOptions {
      padding: 0px;

      .note {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .price {
      span {
        &+span {
          margin-top: 4px;
        }
      }

      .rub {
        font-size: 16px;
        line-height: 24px;
      }

      .usd {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .buttons {
      margin-top: 4px;

      [class*="btn"] {
        &+a {
          margin-top: 16px;
        }
      }
    }

    .payment {
      font-size: 12px;
      line-height: 18px;
    }

    .costParam {
      .cost {
        font-size: 18px;
        line-height: 26px;
      }
    }

    .costData {
      font-size: 22px;
      line-height: 26px;
    }

    &.sm {
      .tRow {
        justify-content: flex-start;
      }

      .tCell {
        width: 234px;
        max-width: auto;
        padding-left: 13px;
        padding-right: 13px;
        flex-basis: max(234px, 25%);
      }

      .param {
        width: 400px;
        max-width: auto;
        flex-basis: max(234px, 25%);
      }

      a {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &.md {
      .param {
        width: 234px;
        max-width: 234px;
        flex-basis: max(234px, 25%);
      }
    }
  }
}

@media (max-width: 550px) {
  .cycleWrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block
  }

  .cycleBlock {
    height: auto;
    @include transform-origin(0% 0%);
  }
}

@media (max-width: 400px) {
  .cycleWrapper {
    margin-left: -17px;
    margin-right: -17px;
  }

  .tableBlock {
    .table {
      margin-right: -17px;
    }
  }

  .tariffsTableWrapper {
    margin-right: -17px;
    margin-left: -17px;
  }
}