.headerSection {
  background: radial-gradient(circle at top right, $gradColor1 0%, $gradColor2 100%), $gradColor2;
}

.productsList {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    &:nth-child(odd) {
      .productItem {
        &::before {
          right: 0px;
        }
      }
    }

    &:nth-child(even) {
      .productItem {
        padding-left: 40px;

        &::before {
          left: 0px;
        }
      }
    }
  }
}

.productItem {
  position: relative;
  padding-top: 40px;
  padding-bottom: 56px;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;

  .wrap {
    &+[class*="btn"] {
      margin-top: 28px;
    }
  }

  .title {
    display: flex;
    align-items: flex-end;

    &+.subtitle {
      margin-top: 8px;
    }
  }

  .subtitle {
    &+.content {
      margin-top: 12px;
    }
  }

  .content {
    max-width: 420px;
    opacity: 0.8;
  }

  .note {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 11px;
    font-family: $font2;
    @include font(12px, 20px, $color1, null, null);
    opacity: 0.5;
    white-space: nowrap;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100vw;
    z-index: -1;
  }

  &.type1 {
    background-color: $color2-5;

    .name {
      color: $color10-1;
    }

    &::before {
      background-color: $color2-5;
    }
  }

  &.type2 {
    background-color: $color2-6;

    .name {
      color: $color6;
    }

    &::before {
      background-color: $color2-6;
    }
  }

  &.type3 {
    background-color: $color12;

    .name {
      color: $color17;
    }

    &::before {
      background-color: $color12;
    }
  }

  &.type4 {
    background-color: $color16;

    .name {
      color: $color18;
    }

    &::before {
      background-color: $color16;
    }
  }
}

.startScreen {
  position: relative;
  padding-top: 103px;
  padding-bottom: 44px;
  z-index: 1;

  .wrapper {
    max-width: 550px;

    &+.demoBlock {
      margin-top: 60px;
    }
  }

  .titleContainer {
    &+.contentContainer {
      margin-top: 20px;
    }
  }

  .contentContainer {
    color: $color3-3;

    .textBlock {

      p,
      span {
        color: inherit;
      }
    }
  }

  .demoBlock {
    &+.clientsBlock {
      margin-top: 101px;
    }
  }

  .img {
    position: absolute;
    top: 95px;
    right: 50%;
    margin-right: -796px;
    width: 776px;
    z-index: -1;

    img {
      width: 100%;
    }
  }
}

.demoBlock {
  display: flex;
  align-items: center;

  [class*="btn"] {
    &+span {
      margin-left: 20px;
    }
  }

  span {
    font-family: $font2;
    @include font(14px, 18px, $color3-2, null, 0.02em);
  }
}

.clientsBlock {
  .title {
    display: block;
    @include font(16px, 24px, $color5, 500, 0.2em);
    text-transform: uppercase;

    &+.wrap {
      margin-top: 32px;
    }
  }

  .list {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      &.md {
        display: none;
      }
    }
  }
}

.contentSection {
  padding-top: 115px;
  padding-bottom: 120px;
}

.manageSection {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rightSide {
    max-width: 510px;
  }

  .titleContainer {
    &+.contentContainer {
      margin-top: 8px;
    }
  }

  &+.dataSection {
    margin-top: 190px;
  }
}

.manageImg {
  width: 730px;

  &.md,
  &.sm {
    display: none;
  }
}

.dataSection {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .leftSide {
    max-width: 510px;
    padding-top: 4px;
  }

  .titleContainer {
    &+.contentContainer {
      margin-top: 8px;
    }
  }

  .info {
    &+.img {
      margin-top: 40px;
    }
  }

  .img {
    position: relative;
    left: -10px;
  }

  .dataDemo {
    position: relative;
    top: -3px;
    right: -167px;
  }

  &+.cycleSection {
    margin-top: 195px;
  }
}

.iconsImg {
  width: 534px;
}

.dataDemo {
  position: relative;
  width: 595px;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -41px;
    right: -42px;
    width: 919px;
    height: 553px;
    background-image: url(../../img/slider_back.png);
    @include back-img(100% 100%, center, no-repeat);
    z-index: -1;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    right: -22px;
    width: 644px;
    height: 414px;
    background-image: url(../../img/slider.png);
    @include back-img(100% 100%, center, no-repeat);
    z-index: -1;
  }
}

.dataSlider {
  .item {
    width: 595px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .slickSliderDots {
    margin-top: 153px;
    padding-left: 10px;
    justify-content: flex-start;
  }
}

.slickSliderDots {
  display: flex;
  justify-content: center;

  li {
    width: 40px;
    height: 6px;
    background-color: $color2-2;
    opacity: 0.2;
    @include border-radius(6px);
    @include transition(opacity 0.3s);
    cursor: pointer;

    button {
      font-size: 0px;
      line-height: 0px;
    }

    &.slick-active,
    &:hover {
      opacity: 1;
    }

    &+li {
      margin-left: 8px;
    }
  }
}

.cycleSection {
  position: relative;
  z-index: 1;

  .titleContainer {
    position: relative;
    max-width: 950px;
    margin: 0px auto;
    padding-left: 115px;
    text-align: center;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -100px;
      left: 50%;
      margin-left: -45px;
      width: 208px;
      height: 208px;
      @include linear-gradientV($circleColor2, $circleColor2-a1);
      @include border-radius(50%);
      z-index: -1;
    }

    &+.contentContainer {
      margin-top: 78px;
    }
  }

  .cycleWrapper {
    &+.noteBlock {
      margin-top: 105px;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -663px;
    width: 146px;
    height: 146px;
    @include linear-gradientV($circleColor3, $circleColor3-a1);
    @include border-radius(50%);
    z-index: -1;
  }

  &+.platformSection {
    margin-top: 100px;
  }
}

.cycleBlock {
  position: relative;

  .img {
    position: relative;
    left: 110px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      right: 110px;
      width: 48px;
      height: 48px;
      background-color: $circleColor1;
      @include border-radius(50%);
    }
  }

  .title {
    display: block;
    @include font(24px, 32px, $color2-1, bold, null);

    &+.content {
      margin-top: 8px;
    }
  }

  .content {
    font-family: $font2;
    font-size: 18px;
    line-height: 26px;

    span {
      display: block;
    }
  }

  .list {
    li {
      position: absolute;

      &:nth-child(1) {
        left: 46px;
        bottom: 58px;
        text-align: right;
      }

      &:nth-child(2) {
        right: 215px;
        bottom: 233px;
      }

      &:nth-child(3) {
        right: 137px;
        top: 339px;
      }

      &:nth-child(4) {
        right: 150px;
        top: 80px;
      }

      &:nth-child(5) {
        left: 113px;
        top: 159px;
        text-align: right;
      }

      &:nth-child(6) {
        left: -15px;
        top: 379px;
        text-align: right;
      }
    }
  }
}

.cycleImg {
  width: 1250px;
}

.noteBlock {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 91px 60px;
  @include font(26px, 40px, $color2-1, 500, null);
  text-align: center;
  background-color: $back1;
  @include border-radius(28px);

  .img {
    position: absolute;
    top: -35px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
  }
}

.platformSection {
  .titleContainer {
    &+.contentContainer {
      margin-top: 40px;
    }
  }

  &+.toolsSection {
    margin-top: 135px;
  }
}

.platformList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 41px;
  row-gap: 76px;
}

.platformItem {
  position: relative;
  padding-left: 69px;

  .num {
    position: absolute;
    display: block;
    top: -2px;
    left: 0px;
    font-family: $font4;
    @include font(40px, 1, $color3-4, bold, null);
  }

  .title {
    &+.info {
      margin-top: 8px;
    }
  }

  .info {
    &+.outLink {
      margin-top: 12px;
    }
  }
}

.toolsSection {
  .titleContainer {
    max-width: 800px;

    &+.contentContainer {
      margin-top: 40px;
    }
  }

  &+.newsSection {
    margin-top: 120px;
  }
}

.toolsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  .item {
    &:nth-child(1) {
      grid-column: 1 / 3;
    }

    &:nth-child(2) {
      grid-column: 3;
      grid-row: 1 / 3;
    }

    &:nth-child(5) {
      grid-column: 1 / 3;
    }

    &:nth-child(7) {
      grid-column: 1 / 3;
    }
  }
}

.toolItem {
  position: relative;
  min-height: 340px;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include border-radius(20px);
  overflow: hidden;

  .wrap {
    max-width: 320px;
  }

  .title {
    &+.content {
      margin-top: 6px;
    }
  }

  .content {
    p {
      font-family: $font2;
      @include font(14px, 22px, $color2-1, null, null);

      &.invert {
        color: $color1;
      }
    }
  }

  img {
    position: absolute;
  }

  &.type1 {
    background-color: $color7;
  }

  &.type2 {
    background-color: $color8;
  }

  &.type3 {
    background-color: $color9-a23;
  }

  &.type4 {
    background-color: $color2-2;
  }

  &.type5 {
    background-color: $color1;
    border: 1px solid $color3-5;

    .wrap {
      max-width: 360px;
    }
  }

  &.type6 {
    background-color: $color10;
  }

  &.type7 {
    background-image: url(../../img/card-back.png);
    @include back-img(cover, center, no-repeat);

    .wrap {
      max-width: 360px;
    }
  }

  &.top {
    img {
      top: 0px;
      right: 0px;
    }
  }

  &.left {
    img {
      top: 0px;
      right: 0px;
    }
  }

  &.right {
    .wrap {
      margin-left: auto;
    }

    img {
      top: 0px;
      left: 0px;
    }
  }
}

.newsSection {
  .titleContainer {
    &+.contentContainer {
      margin-top: 40px;
    }
  }
}

.newsList {
  padding-right: 40px;

  .owl-dots {
    margin-top: 61px;
    padding-left: 40px;
    display: flex;
    justify-content: center;

    .owl-dot {
      width: 40px;
      height: 6px;
      background-color: $color2-2;
      opacity: 0.2;
      @include border-radius(6px);
      @include transition(opacity 0.3s);

      &.active,
      &:hover {
        opacity: 1;
      }

      &+.owl-dot {
        margin-left: 8px;
      }
    }
  }
}

.newsItem {
  .logo {
    width: 136px;
    display: flex;
    align-items: center;

    img {
      width: 100% !important;
    }

    &+.date {
      margin-top: 12px;
    }
  }

  .date {
    display: block;
    font-family: $font2;
    @include font(14px, 22px, $color3, null, null);

    &+.title {
      margin-top: 12px;
    }
  }

  .title {
    &+.content {
      margin-top: 12px;
    }
  }

  .content {
    font-family: $font2;
    @include font(14px, 22px, $color2-1, null, null);

    &+.moreLink {
      margin-top: 12px;
    }
  }
}

.viewSection {
  padding-top: 78px;
  padding-bottom: 80px;

  .wrapper {
    max-width: 620px;
    margin: 0px auto;
    text-align: center;
  }

  .logo {
    &+.title {
      margin-top: 36px;
    }
  }

  .title {
    &+.info {
      margin-top: 12px;
    }
  }

  .info {
    &+[class*="btn"] {
      margin-top: 40px;
    }
  }
}

// 404

.errorSection {
  padding-top: 80px;

  .wrapper {
    max-width: 870px;
    margin: 0px auto;
    text-align: center;
  }

  .name {
    display: block;
    @include font(22px, 34px, $color3, 500, null);
    font-feature-settings: 'pnum'on, 'lnum'on;

    &+.title {
      margin-top: 16px;
    }
  }

  .title {
    &+.info {
      margin-top: 20px;
    }
  }

  .info {
    &+.links {
      margin-top: 40px;
    }
  }

  .links {
    display: flex;
    justify-content: center;

    li {
      position: relative;

      a {
        font-size: 22px;
        line-height: 34px;
      }

      &+li {
        margin-left: 48px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          right: calc(100% + 21px);
          top: 50%;
          margin-top: -1.5px;
          width: 3px;
          height: 3px;
          background-color: $color3-3;
          @include border-radius(50%);
        }
      }
    }
  }

  .img {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;

    img {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }

  .error404 {
    margin-top: 80px;
  }

  .error500 {
    margin-top: 60px;
  }
}

// ABOUT

.aboutSection {
  @include back-img(cover, center top, no-repeat);

  .wrapper {
    max-width: 840px;
    height: 660px;
    margin: 0px auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .titleContainer {
    &+.contentContainer {
      margin-top: 12px;
    }
  }

  .imgSm {
    display: none;
  }
}

.historySection {
  padding: 60px 0px;

  .wrapper {
    max-width: 840px;
    margin: 0px auto;
  }

  .titleContainer {
    &+.contentContainer {
      margin-top: 40px;
    }
  }
}

.historyList {
  .historyItem {
    &+.historyItem {
      margin-top: 60px;
    }
  }
}

.historyItem {
  position: relative;
  display: flex;

  .date {
    width: 220px;
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
  }

  .mark {
    position: absolute;
    top: -18px;
    right: calc(100% + 40px);
    width: 70px;
  }
}

.clientsSection {
  padding-top: 60px;
  padding-bottom: 105px;

  .wrapper {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 15px;
  }

  .titleContainer {
    text-align: center;

    &+.contentContainer {
      margin-top: 60px;
    }
  }
}

.clientsList {
  display: flex;
  flex-wrap: wrap;
  margin: -23px -21px;
  justify-content: center;

  .item {
    padding: 23px 21px;
  }
}

.clientItem {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;

  .img {
    position: relative;
    top: 0px;
    @include transition(top 0.3s);

    img {
      width: 100%;
    }

    &+.link {
      margin-top: -13px;
    }
  }

  .link {
    opacity: 0;
    @include transition(opacity 0.3s);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -40px;
    left: -30px;
    width: calc(100% + 60px);
    height: 180px;
    background-color: $color1;
    @include box-shadow($shadow);
    opacity: 0;
    @include transition(opacity 0.3s);
    z-index: -1;
  }

  &:hover {
    .img {
      top: -18px;
    }

    .link {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}

// BLOG

.innerPage {
  padding-top: 20px;

  .breadcrumbs {
    margin-bottom: 20px;
  }
}

.postInfo {
  display: flex;

  li {
    position: relative;
    display: flex;
    align-items: center;
    font-family: $font2;
    @include font(14px, 22px, $color3-2, null, null);

    [class*="icon"] {
      margin-right: 8px;
      font-size: 16px;
    }

    &+li {
      margin-left: 31px;

      &::before {
        content: '/';
        display: block;
        position: absolute;
        top: 50%;
        right: calc(100% + 12px);
        margin-top: -11px;
        font-family: $font2;
        font-size: 18px;
        line-height: 22px;
        color: $color3-7;
      }
    }
  }
}

.blogSection {
  padding-top: 32px;
  padding-bottom: 140px;

  .breadcrumbs {
    margin-bottom: 52px;
  }

  .contentBlockSm {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }

  .contentWrapper {
    max-width: 1326px;
    margin-left: auto;
    margin-right: auto;
  }

  .titleContainer {
    .title {
      &+.info {
        margin-top: 16px;
      }
    }

    &+.contentContainer {
      margin-top: 40px;
    }
  }

  .textBlock {
    .note {
      max-width: 642px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .secCap,
  .thirdCap {
    &+* {
      margin-top: 20px;
    }
  }

  .fourthCap {
    &+* {
      margin-top: 10px;
    }
  }

  .fifthCap {
    &+* {
      margin-top: 12px;
    }
  }

  .sixthCap {
    &+* {
      margin-top: 8px;
    }
  }

  .markedList,
  .numList {
    max-width: 642px;
  }

  * {
    &+.secCap {
      margin-top: 92px;
    }

    &+.thirdCap {
      margin-top: 52px;
    }

    &+.fourthCap {
      margin-top: 60px;
    }

    &+.fifthCap {
      margin-top: 60px;
    }

    &+.sixthCap {
      margin-top: 60px;
    }

    &+.imageTemplate {
      margin-top: 52px;
    }

    &+.linksList {
      margin-top: 78px;
    }

    &+.noteTemplate {
      margin-top: 80px;
    }

    &+.withNote {
      margin-top: 60px;
    }

    &+.galleryTemplate {
      margin-top: 60px;
    }

    &+.quoteBlock {
      margin-top: 110px;
    }

    &+.sliderTemplate {
      margin-top: 80px;
    }

    &+.tableBlock {
      margin-top: 88px;
    }

    &+.tabsBlock {
      margin-top: 80px;
    }

    &+.linksMenu {
      margin-top: 80px;
    }

    &+.pagination {
      margin-top: 80px;
    }

    &+.formTemplate {
      margin-top: 180px;
    }
  }

  .formTemplate {
    &+* {
      margin-top: 120px;
    }
  }

  .tabsOptions {
    display: none;
  }

  .pagination {
    &+* {
      margin-top: 180px;
    }
  }

  .paginationSm {
    display: none;
  }
}

.imageTemplate {
  img {
    width: 100%;
  }

  .cap {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-family: $font2;
    @include font(14px, 22px, $color3-8, null, null);

    a {
      color: $link;
      text-decoration: underline;
      text-decoration-color: transparent;
      @include transition(text-decoration-color 0.3s);

      &:hover {
        text-decoration-color: $link;
      }
    }
  }

  &+* {
    margin-top: 52px;
  }
}

.linksList {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;

  .col {
    width: 334px;
  }

  .item {
    &+.item {
      margin-top: 48px;
    }
  }

  .title {
    &+ul {
      margin-top: 6px;
    }
  }

  ul {
    li {
      &+li {
        margin-top: 16px;
      }
    }
  }

  &+* {
    margin-top: 80px;
  }
}

.noteTemplate {
  padding: 60px 114px;
  @include font(26px, 40px, $color2-1, 500, null);
  text-align: center;
  font-feature-settings: 'pnum'on, 'lnum'on;
  background-color: $back1;
  @include border-radius(28px);

  &+* {
    margin-top: 60px;
  }
}

.withNote {
  position: relative;
  margin-left: max(calc((100% - 870px) / 2), 0px);

  .wrapper {
    display: flex;
    align-items: center;
  }

  .content {
    max-width: 640px;

    &+.note {
      margin-left: 44px;
    }
  }

  .note {
    width: 404px;
    padding-left: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: $font2;
    @include font(18px, 30px, $color2-1, null, null);
    border-left: 4px solid $color3-9;
  }

  &+* {
    margin-top: 60px;
  }
}

.galleryTemplate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px;

  .img {
    height: 420px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &+* {
    margin-top: 60px;
  }
}

.remarkBlock {
  display: flex;

  .remark {
    font-family: $font2;
    @include font(12px, 18px, $color3-8, null, null);

    span {
      color: $color10-1;
    }

    &.sm {
      width: 300px;
      flex-shrink: 0;
    }

    &+.remark {
      margin-left: 42px;
    }
  }
}

.quoteBlock {
  position: relative;
  padding-top: 70px;
  padding-bottom: 60px;
  padding-right: 114px;
  background-color: $back1;
  @include border-radius(28px);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 53.5px;
    height: 80px;
  }

  &::before {
    right: 32px;
    background-image: url(../../img/quote_1.svg);
    @include back-img(null, left top, no-repeat);
  }

  &::after {
    right: -32px;
    background-image: url(../../img/quote_2.svg);
    @include back-img(null, left top, no-repeat);
  }

  .wrap {
    display: flex;
    max-width: 950px;
    margin-left: 230px;
  }

  .img {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    @include border-radius(50%);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &+.content {
      margin-left: 40px;
    }
  }

  .quote {
    @include font(26px, 40px, $color2-1, 500, null);

    &+.author {
      margin-top: 12px;
    }
  }

  .author {
    display: block;
    font-family: $font2;
    @include font(16px, 26px, $color3, null, null);
  }

  &+* {
    margin-top: 60px;
  }
}

.sliderTemplate {
  position: relative;
  max-width: 1182px;
  margin-left: auto;
  margin-right: auto;

  .item {
    width: 100%;
    // height: 560px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .owl-nav {

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      margin-top: -6px;
      font-size: 30px !important;
      color: $color2-2;
      @include transition(color 0.3s);
      cursor: pointer;

      &:hover {
        color: $color2-1;
      }
    }

    .owl-prev {
      right: calc(100% + 36px);
    }

    .owl-next {
      left: calc(100% + 36px);
    }
  }

  .owl-dots {
    margin-top: 28px;
    display: flex;
    justify-content: center;

    .owl-dot {
      width: 40px;
      height: 6px;
      background-color: $color2-2;
      opacity: 0.2;
      @include border-radius(6px);
      @include transition(opacity 0.3s);

      &.active,
      &:hover {
        opacity: 1;
      }

      &+.owl-dot {
        margin-left: 8px;
      }
    }
  }

  &+* {
    margin-top: 88px;
  }
}

.tableBlock {
  .title {
    display: block;
    @include font(26px, 34px, $color2-1, 700, null);

    &+.table {
      margin-top: 40px;
    }
  }

  &+* {
    margin-top: 120px;
  }
}

.tableTemplate {
  width: 100%;
  display: table;

  .tableHead {
    display: table-row;

    .tableCell {
      padding-bottom: 11px;
      font-family: $font1;
      @include font(16px, 24px, $color2-1, 700, null);
      font-feature-settings: 'pnum'on, 'lnum'on;
      border-bottom: 1px solid $color11;
    }
  }

  .tableBody {
    display: table-row-group;
  }

  .tableRow {
    display: table-row;

    .tableCell {
      padding-top: 29px;
      font-family: $font2;
      @include font(16px, 26px, $color2-1, null, null);
    }

    &:not(:last-child) {
      .tableCell {
        padding-bottom: 32px;
      }
    }

    &+.tableRow {
      .tableCell {
        border-top: 1px dashed $color11;
      }
    }
  }

  .tableCell {
    display: table-cell;

    &:not(:last-child) {
      padding-right: 43px;
    }

    &.type {
      width: 228px;
    }

    &.date {
      width: 228px;
    }

    &.cap {
      width: 458px;
    }
  }
}

.tabsBlock {
  &+* {
    margin-top: 80px;
  }
}

.tabsTemplate {
  .tabContent {
    display: none;
    padding-top: 16px;
    @include animation-name(fadeIn);
    @include animation-duration(1s);
    @include animation-fill-mode(forwards);

    &.active {
      display: block;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tabsList {
  display: flex;

  ul {
    display: flex;
    border-bottom: 4px solid $color4-1-a1;

    li {
      position: relative;
      flex-shrink: 0;

      .tabEl {
        display: block;
        font-family: $font2;
        font-size: inherit;
        line-height: inherit;
        color: $color2-1;
        $transition: font-weight 0.3s, color 0.3s;
        @include transition($transition);
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: $color2-1;
        opacity: 0;
        @include transition(opacity 0.3s);
      }

      &.active,
      &.ui-state-active {
        .tabEl {
          font-weight: 600;
          color: $color2-1;
        }

        &::before {
          opacity: 1;
        }
      }

      &:hover {
        .tabEl {
          color: $color2-1;
        }
      }
    }
  }

  &.lg {
    li {
      font-size: 24px;
      line-height: 32px;

      .tabEl {
        padding-bottom: 10px;
      }

      &+li {
        margin-left: 40px;
      }
    }
  }

  &.sm {
    li {
      font-size: 18px;
      line-height: 24px;

      .tabEl {
        padding-bottom: 12px;
      }

      &+li {
        margin-left: 32px;
      }
    }
  }
}

// PRODUCTS

.productsSection {

  .titleContainer {
    &+.contentContainer {
      margin-top: 31px;
    }
  }
}

.productsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.teamSection {
  padding-top: 100px;
  padding-bottom: 116px;

  .titleContainer {
    text-align: center;

    &+.contentContainer {
      margin-top: 28px;
    }
  }

  .tabsOptions {
    display: none;
  }
}

.tabsTemplate3 {
  .tabsList {
    display: flex;
    justify-content: center;

    li {
      min-width: 200px;
      text-align: center;
      border-bottom: 4px solid $color15;

      .tabEl {
        position: relative;
        display: block;
        padding-bottom: 12px;
        font-family: $font2;
        @include font(24px, 32px, $color3, 400, null);
        $transition: font-weight 0.3s, color 0.3s;
        @include transition($transition);

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          left: 0px;
          right: 0px;
          margin: 0px auto;
          width: calc(100% - 54px);
          height: 4px;
          background-color: $color2-2;
          opacity: 0;
          @include transition(opacity 0.3s);
        }

        &:hover {
          color: $color2-2;
        }
      }

      &.ui-state-active,
      &.active {
        cursor: default;

        a {
          font-weight: 600;
          color: $color2-2;
          cursor: default !important;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  .tabContent {
    padding-top: 60px;
  }
}

// PRODUCT

.productBanner {
  .bannerWrapper {
    min-height: 560px;
    padding-top: 20px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
  }

  .breadcrumbs {
    &+* {
      margin-top: 32px;
    }
  }

  .wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding-left: 110px;
  }

  .titleContainer {
    &+.contentContainer {
      margin-top: 12px;
    }
  }

  .title {
    &+.subtitle {
      margin-top: 12px;
    }
  }

  .contentContainer {
    max-width: 510px;
    opacity: 0.8;
  }

  .btnContainer {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }

  .note {
    display: block;
    margin-left: 40px;
    font-family: $font2;
    @include font(14px, 22px, $color1, null, null);
    opacity: 0.5;
    white-space: nowrap;
  }

  .backLink {
    position: absolute;
    top: 7px;
    left: 1px;
  }

  &.type1 {
    background-color: $color2-5;

    .name {
      color: $color10-1;
    }
  }

  &.type2 {
    background-color: $color2-6;

    .name {
      color: $color6;
    }
  }

  &.type3 {
    background-color: $color12;

    .name {
      color: $color17;
    }
  }

  &.type4 {
    background-color: $color16;

    .name {
      color: $color18;
    }
  }

  &+.advantagesSection {
    margin-top: 80px;
  }
}

.whomSection {
  padding-top: 142px;

  .wrapper {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .item {
    max-width: 400px;
  }

  &.lg {
    padding-top: 100px;

    .wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  }

  &+* {
    margin-top: 120px;
  }
}

.whomItem {
  .img {
    position: relative;
    width: 290px;
    z-index: 1;

    .image {
      width: 100%;
    }

    .back {
      position: absolute;
      z-index: -1;
    }

    .front {
      position: absolute;
    }

    &.type1 {
      .back {
        top: -60px;
        left: -77px;
      }

      .front {
        top: -34px;
        right: -42px;
      }
    }

    &.type2 {
      .back {
        top: 32px;
        left: -80px;
        z-index: 1;
      }
    }

    &+.title {
      margin-top: 24px;
    }
  }

  .title {
    &+.content {
      margin-top: 12px;
    }
  }

  &.sm {
    text-align: center;

    .img {
      width: 100%;
      height: auto;

      img {
        width: 100%;
      }

      &+.title {
        margin-top: 20px;
      }
    }

    .title {
      &+.content {
        margin-top: 8px;
      }
    }
  }
}

*+.descriptionBlock {
  margin-top: 120px;
}

.descriptionBlock {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px;
  display: flex;
  justify-content: center;
  background-color: $back2;

  .title {
    width: 510px;
  }

  .content {
    width: 510px;
    margin-left: 40px;
    padding-top: 12px;
  }

  &+* {
    margin-top: 120px;
  }
}

*+.respSection {
  margin-top: 120px;
}

.respSection {
  .titleContainer {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &+.contentContainer {
      margin-top: 62px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .img {
    &+.content {
      margin-left: 70px;
    }
  }

  .content {
    width: 510px;
  }

  &+* {
    margin-top: 120px;
  }
}

*+.requestBlock {
  margin-top: 120px;
}

.requestBlock {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 29px 55px;
  display: flex;
  align-items: center;
  background-color: $back2;

  .logo {
    flex-shrink: 0;

    &+.content {
      margin-left: 60px;
    }
  }

  .content {
    max-width: 580px;
    flex-shrink: 0;

    &+[class*="btn"] {
      margin-left: auto;
    }
  }

  .title {
    &+.info {
      margin-top: 12px;
    }
  }

  [class*="btn"] {
    flex-shrink: 0;
  }

  &+* {
    margin-top: 120px;
  }
}

*+.advantagesSection {
  margin-top: 120px;
}

.advantagesSection {
  .titleContainer {
    &+.contentContainer {
      margin-top: 20px;
    }
  }

  .noteBlock {
    margin-top: 160px;
  }

  &+* {
    margin-top: 120px;
  }
}

.advantagesList {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 60px;

  &.sm {
    grid-template-columns: repeat(3, 360px);
    gap: 80px;
  }
}

.advantageItem {
  position: relative;
  padding-top: 86px;
  z-index: 1;

  .num {
    position: absolute;
    display: block;
    top: -15px;
    left: 0px;
    font-family: $font4;
    @include font(174px, 1, $color19, 400, null);
    z-index: -1;
  }

  .title {
    &+.content {
      margin-top: 12px;
    }
  }
}

*+.productDescription {
  margin-top: 120px;
}

.productDescription {
  .titleContainer {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    &+.contentContainer {
      margin-top: 60px;
    }
  }

  .info {
    padding-top: 12px;
  }

  .contentContainer {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 580px);
      gap: 80px;
    }
  }

  &+* {
    margin-top: 120px;
  }
}

.descriptionCard {
  display: flex;

  .img {
    flex-shrink: 0;

    &+.wrap {
      margin-left: 40px;
    }
  }

  .title {
    &+.content {
      margin-top: 16px;
    }
  }

  .content {
    .text {
      &+.text {
        margin-top: 16px;
      }
    }
  }
}

*+.researchSection {
  margin-top: 120px;
}

.researchSection {
  .titleContainer {
    &+.contentContainer {
      margin-top: 40px;
    }
  }

  &+* {
    margin-top: 120px;
  }
}

.researchList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 41px;
  row-gap: 61px;
}

.researchItem {
  position: relative;
  padding-left: 72px;

  .num {
    position: absolute;
    display: block;
    top: -2px;
    left: 0px;
    font-family: $font4;
    @include font(40px, 1, $color20, bold, null);
  }

  .title {
    &+.info {
      margin-top: 12px;
    }
  }
}

*+.resultSection {
  margin-top: 120px;
}

.resultSection {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 66px;
  background-color: $color13;

  .titleContainer {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &+.contentContainer {
      margin-top: 60px;
    }
  }

  &+* {
    margin-top: 120px;
  }
}

.resultList {
  .resultItem {
    &+.resultItem {
      margin-top: 33px;
    }
  }
}

.resultItem {
  display: flex;
  align-items: center;

  .wrap {
    max-width: 400px;
  }

  .imgWrap {
    margin-left: 40px;
    margin-right: 40px;
    width: 730px;
    height: 460px;

    .in {
      position: relative;
      width: 730px;
      height: 460px;
      z-index: 1;
    }

    .back {
      position: absolute;
      z-index: -1;
    }

    .img {
      position: absolute;
      z-index: 1;
    }

    &.lg {
      width: 744px;
      height: 478px;

      .in {
        width: 744px;
        height: 478px;
      }
    }

    &.type1 {
      .back {
        top: 0px;
        left: 0px;
      }

      .img {
        top: 42px;
        left: 52px;
      }
    }

    &.type2 {
      .back {
        top: 92px;
        left: 0px;
      }

      .img {
        top: 37px;
        left: 0px;
        right: 0px;
        margin: 0px auto;
      }
    }

    &.type3 {
      .back {
        top: 0px;
        left: 22px;
      }

      .img {
        bottom: 33px;
        left: 61px;
      }
    }

    &.type4 {
      .back {
        top: 13px;
        left: 0px;
      }

      .img {
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
      }
    }

    &.type5 {
      .back {
        top: 5px;
        left: 0px;
      }

      .img {
        height: 388px;
        top: 32px;
        left: 52px;
      }
    }

    &.type6 {
      .back {
        top: 0px;
        right: 0px;
      }

      .img {
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
      }
    }

    &.type7 {
      .back {
        top: 92px;
        left: 0px;
      }

      .img {
        top: 37px;
        right: 30px;
      }
    }

    &.type8 {
      .back {
        top: 0px;
        left: 10px;
      }

      .img {
        left: 51px;
        bottom: 47px;
      }
    }

    &.type9 {
      .back {
        top: 92px;
        left: 0px;
      }

      .img {
        top: 37px;
        right: 30px;
      }
    }

    &.type9 {
      .back {
        top: 0px;
        left: 0px;
      }

      .img {
        top: 42px;
        left: 52px;
      }
    }
  }

  .img {
    position: relative;
    height: 360px;
    width: 600px;
    padding: 10px;
    @include box-shadow($shadow2);

    &.lg {
      width: 642px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: $color14;
      border: 1px solid $color2-a1;
    }

    .image {
      position: relative;
      display: block;
      margin: 0px auto;
      height: 100%;
      width: auto;
      z-index: 1;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  .subtitle {
    &+.title {
      margin-top: 12px;
    }
  }

  .title {
    &+.content {
      margin-top: 12px;
    }
  }
}

*+.testToolsSection {
  margin-top: 120px;
}

.testToolsSection {
  .titleContainer {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &+.contentContainer {
      margin-top: 60px;
    }
  }

  &+* {
    margin-top: 130px;
  }
}

.testToolsList {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 40px;
  justify-content: center;
}

.testToolItem {
  .img {
    img {
      width: 100%;
    }

    &+.title {
      margin-top: 28px;
    }
  }

  .title {
    text-align: center;

    &+.content {
      margin-top: 4px;
    }
  }

  .content {
    text-align: center;
  }
}

*+.uxFeaturesSection {
  margin-top: 130px;
}

.uxFeaturesSection {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-top: 82px;
  padding-right: 40px;
  padding-bottom: 64px;
  background-color: $back2;

  .titleContainer {
    text-align: center;

    &+.contentContainer {
      margin-top: 60px;
    }
  }

  &+* {
    margin-top: 120px;
  }
}

.uxFeaturesList {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 40px;

  .item {
    display: flex;
  }

  .img {
    flex-shrink: 0;

    &+.wrap {
      margin-left: 20px;
    }
  }

  .title {
    &+.content {
      margin-top: 8px;
    }
  }
}

*+.stepsSection {
  margin-top: 120px;
}

.stepsSection {
  .wrapper {
    max-width: 1060px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }

  .titleContainer {
    width: 510px;

    .name {
      color: $color10-1;
    }
  }

  .contentContainer {
    width: 400px;
  }

  &+* {
    margin-top: 120px;
  }
}

.stepsList {
  .stepItem {
    &+.stepItem {
      margin-top: 52px;
    }
  }

  &.sm {
    .stepItem {
      &+.stepItem {
        margin-top: 40px;
      }
    }
  }
}

.stepItem {
  position: relative;
  display: flex;

  .num {
    display: block;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: $font4;
    @include font(40px, 40px, $color1, bold, null);
    background-color: $color21;
    @include border-radius(50%);

    &+.content {
      margin-left: 20px;
    }
  }

  .content {
    flex-grow: 1;
    align-self: center;
  }
}

*+.featuresSection {
  margin-top: 120px;
}

.featuresSection {
  .titleContainer {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    text-align: center;

    &+.contentContainer {
      margin-top: 40px;
    }
  }

  .hideContent {
    margin-top: 40px;
  }

  &+* {
    margin-top: 120px;
  }
}

.featuresList {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include transition(all 0.3s);
    overflow: hidden;

    &+.hiddenBlock {
      margin-top: 40px;
      display: none;
    }
  }

  .item {
    &.left {
      grid-column: 1 / 3;
    }

    &.right {
      grid-column: 2 / 4;
    }
  }
}

.featureItem {
  position: relative;
  padding: 40px;
  min-height: 340px;
  @include border-radius(20px);
  @include back-img(cover, center, no-repeat);
  overflow: hidden;
  z-index: 1;

  .wrap {
    max-width: 360px;
  }

  .title {
    &+.content {
      margin-top: 12px;
    }
  }

  .content {
    font-family: $font2;
    @include font(14px, 22px, $color2-1, null, null);

    &.invert {
      color: $color1;
    }
  }

  img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
    z-index: -1;
  }

  &.type1 {
    background-image: url(../../img/card_back_1.png);
  }

  &.type2 {
    background-color: $color1;
    @include box-shadow(inset 0px 0px 0px 1px $color3-5);
  }

  &.type3 {
    background-color: $color8;
  }

  &.type4 {
    background-color: $color2-2;
  }

  &.type5 {
    background-color: $color9-a23;
  }

  &.type6 {
    background-image: url(../../img/card_back_2.png);
  }

  &.type7 {
    background-image: url(../../img/card_back_3.png);
  }

  &.type8 {
    background-color: $color7;
  }

  &.type9 {
    background-color: $color10-1;
  }
}

*+.tariffsSection {
  margin-top: 120px;
}

.tariffsSection {
  padding-top: 60px;
  padding-bottom: 88px;
  background-color: $color2-4;

  * {
    &+.tariffsTableWrapper {
      margin-top: 57px;

      &.sm {
        margin-top: 40px;
      }

      &.md {
        margin-top: 47px;
      }
    }

    &+.tariffInfo {
      margin-top: 60px;
    }
  }

  &.type1 {
    background-color: $color2-5;
  }

  &.type2 {
    background-color: $color2-4;
  }

  &.type3 {
    background-color: $color12;
  }

  &.type4 {
    background-color: $color16;
  }
}

.tariffsIntro {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .logoWrapper {
    position: relative;
  }

  .logo {
    @media (max-width: $maxMediaSD) {
      width: 247px;

      img {
        width: 100%;
      }
    }

    @media (max-width: $maxMediaXS) {
      width: 208px;
    }
  }

  .infoWrapper {
    max-width: 570px;
    margin-left: 18px;
    padding-left: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-left: 1px solid $color1-a2;
  }

  .title {
    &+.content {
      margin-top: 8px;
    }
  }

  .content {
    font-family: $font2;
    @include font(14px, 22px, $color1, null, null);
    opacity: 0.7;
  }

  &.center {
    justify-content: center;
    padding-right: 30px;
  }
}

.tariffsTable {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  z-index: 1;

  .tHead,
  .tRow {
    display: flex;
  }

  .tHead {
    .tCell {
      .in {
        padding-top: 28px;
        padding-bottom: 20px;
      }

      &:last-child {
        @include border-radius(20px 20px 0px 0px);
      }
    }
  }

  .tRow {
    .tCell {
      font-family: $font2;
      @include font(16px, 26px, $color1, null, null);
      font-feature-settings: 'pnum'on, 'lnum'on;
    }

    &:not(:last-child) {
      .in {
        border-bottom: 1px solid $color1-a15;
      }
    }

    &:last-child {
      .tCell {
        &:last-child {
          @include border-radius(0px 0px 20px 20px);
        }
      }

      .in {
        padding-bottom: 36px;
      }
    }
  }

  .tCell {
    width: 25%;
    flex-basis: 25%;
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    .in {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 16px;
      padding-bottom: 15px;
    }

    .disabled {
      color: $color10-1;
    }

    .check {
      font-size: 22px;
      color: $color22
    }

    &:first-child {
      text-align: left;

      .in {
        justify-content: flex-start;
      }
    }

    &:last-child {
      background-color: $back2-a1;

    }

    &.lg {
      width: 50%;
      flex-basis: 50%;
    }
  }

  .dataBlock {
    position: relative;
    max-width: 500px;
    padding-left: 80px;
    text-align: left;

    [class*="icon"] {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 60px;
      color: $color1;
    }

    .title {
      font-family: $font1;

      &+.content {
        margin-top: 4px;
      }
    }

    .content {
      font-family: $font2;
      @include font(16px, 26px, $color1, null, null);
      opacity: 0.5;
    }
  }

  .dataOptions {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 2px;
    text-align: left;

    li {
      &+li {
        margin-top: 16px;
      }
    }

    .note {
      margin-top: 2px;
      padding-left: 40px;
      font-family: $font2;
      @include font(14px, 22px, $color1, null, null);
      opacity: 0.5;
    }
  }

  .price {
    padding-top: 8px;
    padding-bottom: 4px;

    span {
      display: block;

      &+span {
        margin-top: 6px;
      }
    }

    .rub {
      font-family: $font1;
      @include font(26px, 34px, $color1, 700, null);
      font-feature-settings: 'pnum'on, 'lnum'on;
    }

    .usd {
      font-family: $font2;
      @include font(16px, 26px, $color1, null, null);
      font-feature-settings: 'pnum'on, 'lnum'on;
      opacity: 0.5;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    [class*="btn"] {
      &+.siteLink {
        margin-top: 20px;
      }
    }
  }

  .payment {
    font-family: $font1;
    font-size: 16px;
    line-height: 26px;
  }

  .costParam {
    padding-top: 4px;
    padding-bottom: 4px;

    .cost {
      display: block !important;
      font-family: $font1;
      font-size: 22px;
      line-height: 34px;

      &+span {
        display: block !important;
        opacity: 0.5;
      }
    }
  }

  .costData {
    font-family: $font1;
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
  }

  &.sm {
    .tRow {
      padding-right: 40px;
      justify-content: center;

      &:nth-child(1) {
        .tCell {
          padding-top: 28px;

          &:last-child {
            @include border-radius(20px 20px 0px 0px);
          }
        }
      }
    }

    .tCell {
      width: 400px;
      flex-basis: 400px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .param {
      width: 700px;
      flex-basis: 700px;

      span {
        display: inline-block;

        span {
          display: inline-block;
          opacity: 0.5;
        }
      }
    }

    a {
      margin: 10px auto 4px;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &.md {

    .tRow,
    .tHead {
      justify-content: center;
    }

    .param {
      width: 440px;
      flex-basis: 440px;
    }
  }
}

.tariffInfo {
  text-align: center;

  .title {
    &+.info {
      margin-top: 12px;
    }
  }

  .info {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;

    &+[class*="btn"] {
      margin-top: 40px;
    }
  }
}

.mainBlogSection {
  padding-bottom: 94px;

  .titleContainer {
    &+.contentContainer {
      margin-top: 18px;
    }
  }

  .tabsOptions {
    display: none;
  }

  .pagination {
    margin-top: 84px;
  }

  .paginationSm {
    display: none;
  }
}

.tabsTemplate2 {
  .tabsList {
    display: flex;
    width: 100%;
    border-bottom: 4px solid $color4-1-a1;

    li {
      position: relative;

      .tabEl {
        display: block;
        padding-bottom: 10px;
        padding-right: 12px;
        font-family: $font2;
        @include font(16px, 26px, $color3, 400, null);
        $transition: color 0.3s, font-weight 0.3s;
        @include transition($transition);
        cursor: pointer;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: $color2-1;
        opacity: 0;
        @include transition(opacity 0.3s);
      }

      &.active,
      &.ui-state-active {
        .tabEl {
          color: $color2-1;
          font-weight: bold;
        }

        &::before {
          opacity: 1;
        }
      }

      &:hover {
        .tabEl {
          color: $color2-1;
        }
      }

      &+li {
        margin-left: 16px;

        .tabEl {
          padding-left: 12px;
        }
      }
    }
  }

  .tabContent {
    padding-top: 40px;
  }
}

.primaryBlogSection {
  display: grid;
  grid-template-columns: 600px 400px;
  row-gap: 40px;
  column-gap: 60px;

  .item {
    &.lg {
      grid-row: 1 / 4;
    }
  }

  &+* {
    margin-top: 60px;
  }
}

* {
  &+.simpleBlogSection {
    padding-top: 40px;
    border-top: 2px solid $color2-1;
  }

  &+.secondaryBlogSection {
    padding-top: 60px;
    border-top: 2px solid $color2-1;
  }
}

.simpleBlogSection {
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 28px;
  column-gap: 120px;

  &+* {
    margin-top: 40px;
  }
}

.secondaryBlogSection {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 64px;
  column-gap: 80px;
}

[class*="blogItem"] {
  @include invisLink;

  .img {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    display: flex;

    li {
      display: flex;
      align-items: center;
      font-family: $font2;
      @include font(14px, 22px, $color3, null, null);

      [class*="icon"] {
        margin-right: 8px;
        font-size: 16px;
      }

      &+li {
        margin-left: 20px;
      }
    }
  }
}

.blogItemLg {
  max-width: 600px;
  width: 100%;

  .img {
    height: 360px;
    @include border-radius(20px);
  }

  .contentWrap {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
  }

  .info {
    &+.title {
      margin-top: 8px;
    }
  }

  .title {
    &+.content {
      margin-top: 8px;
    }
  }
}

.blogItemSm {
  .info {
    &+.title {
      margin-top: 8px;
    }
  }

  .title {
    &+.content {
      margin-top: 8px;
    }
  }
}

.blogItemMd {
  max-width: 470px;
  width: 100%;

  .img {
    height: 280px;
    @include border-radius(16px);
  }

  .contentWrap {
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .info {
    &+.title {
      margin-top: 4px;
    }
  }

  .title {
    &+.content {
      margin-top: 4px;
    }
  }
}