.firstCap {
  display: block;
  @include font(44px, 56px, $color2-1, bold, null);
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: $maxMediaSD) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (max-width: $maxMediaXS) {
    font-size: 24px;
    line-height: 32px;
  }

  &.invert {
    color: $color1;
  }
}

.secCap {
  display: block;
  @include font(36px, 48px, $color2-1, bold, null);
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: $maxMediaSD) {
    font-size: 30px;
    line-height: 38px;
  }

  @media (max-width: $maxMediaXS) {
    font-size: 22px;
    line-height: 30px;
  }

  &.invert {
    color: $color1;
  }

  &.grad {
    @include linear-gradientH($textGrad1, $textGrad2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.thirdCap {
  display: block;
  @include font(26px, 34px, $color2-1, bold, null);
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: $maxMediaSD) {
    font-size: 22px;
    line-height: 30px;
  }

  @media (max-width: $maxMediaXS) {
    font-size: 20px;
    line-height: 28px;
  }

  &.invert {
    color: $color1;
  }
}

.fourthCap {
  display: block;
  @include font(20px, 28px, $color2-1, bold, null);
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: $maxMediaSD) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (max-width: $maxMediaXS) {
    font-size: 16px;
    line-height: 24px;
  }

  &.invert {
    color: $color1;
  }
}

.fifthCap {
  display: block;
  @include font(16px, 24px, $color2-1, bold, null);
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: $maxMediaSD) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (max-width: $maxMediaXS) {
    font-size: 14px;
    line-height: 18px;
  }

  &.invert {
    color: $color1;
  }
}

.sixthCap {
  display: block;
  @include font(12px, 20px, $color2-1, bold, 0.12em);
  text-transform: uppercase;
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: $maxMediaXS) {
    font-size: 12px;
    line-height: 18px;
  }

  &.invert {
    color: $color1;
  }
}

.textBlock {
  .lead {
    @include font(22px, 34px, $color2-1, 500, null);
    font-feature-settings: 'pnum'on, 'lnum'on;

    @media (max-width: $maxMediaSD) {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: $maxMediaXS) {
      font-size: 16px;
      line-height: 24px;
    }

    &.invert {
      color: $color1;
    }
  }

  .note {
    font-family: $font2;
    @include font(18px, 30px, $color2-1, null, null);
    font-feature-settings: 'pnum'on, 'lnum'on;

    @media (max-width: $maxMediaSD) {
      font-size: 16px;
      line-height: 26px;
    }

    @media (max-width: $maxMediaXS) {
      font-size: 14px;
      line-height: 24px;
    }

    &.invert {
      color: $color1;
    }

    &+* {
      margin-top: 40px;

      @media (max-width: $maxMediaXS) {
        margin-top: 28px;
      }
    }
  }

  .text {
    font-family: $font2;
    @include font(16px, 26px, $color2-1, null, null);
    font-feature-settings: 'pnum'on, 'lnum'on;

    &+.text {
      margin-top: 20px;
    }

    @media (max-width: $maxMediaSD) {
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $maxMediaXS) {
      font-size: 12px;
      line-height: 18px;
    }

    &.invert {
      color: $color1;
    }

    &.sm {
      font-size: 14px;
      line-height: 22px;

      @media (max-width: $maxMediaSD) {
        font-size: 12px;
        line-height: 20px;
      }

      @media (max-width: $maxMediaXS) {
        line-height: 18px;
      }
    }
  }

  .descr {
    font-family: $font2;
    @include font(14px, 22px, $color3, null, null);

    @media (max-width: $maxMediaSD) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  p {
    a {
      font-size: inherit;
      line-height: inherit;
      color: $link;
      text-decoration: underline;
      text-decoration-color: $link;
      @include transition(text-decoration-color 0.3s);

      &:hover {
        text-decoration-color: transparent;
      }
    }

    &+.note {
      margin-top: 48px;

      @media (max-width: $maxMediaSD) {
        margin-top: 40px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 28px;
      }
    }

    &+p,
    &+ul {
      margin-top: 28px;

      @media (max-width: $maxMediaSD) {
        margin-top: 20px;
      }
    }

    &+ol {
      margin-top: 40px;

      @media (max-width: $maxMediaSD) {
        margin-top: 20px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 22px;
      }
    }

    &+.simpleList {
      margin-top: 12px;

      @media (max-width: $maxMediaSD) {
        margin-top: 8px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 4px;
      }
    }
  }
}

.simpleList {
  li {
    position: relative;
    padding-left: 28px;
    font-family: $font2;
    @include font(16px, 26px, $color2-1, null, null);

    @media (max-width: $maxMediaSD) {
      padding-left: 26px;
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $maxMediaXS) {
      padding-left: 20px;
      font-size: 12px;
      line-height: 18px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 13px;
      left: 0px;
      width: 16px;
      height: 1px;
      background-color: $color2-1;

      @media (max-width: $maxMediaSD) {
        top: 12px;
        width: 14px;
      }

      @media (max-width: $maxMediaXS) {
        top: 10px;
        width: 12px;
      }
    }
  }

  &>li {
    &+li {
      margin-top: 12px;

      @media (max-width: $maxMediaSD) {
        margin-top: 8px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 4px;
      }
    }
  }
}

.markedList {
  padding-left: 20px;

  @media (max-width: $maxMediaSD) {
    br {
      display: none;
    }
  }

  @media (max-width: $maxMediaXS) {
    padding-left: 12px;
  }

  li {
    position: relative;
    padding-left: 32px;
    font-family: $font2;
    @include font(16px, 26px, $color2-1, null, null);

    @media (max-width: $maxMediaSD) {
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $maxMediaXS) {
      padding-left: 28px;
      font-size: 12px;
      line-height: 18px;

      ul {
        padding-left: 4px;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 13px;
      left: 0px;
      width: 20px;
      height: 2px;
      background-color: $color3-2;

      @media (max-width: $maxMediaXS) {
        width: 16px;
        height: 1px;
        top: 9px;
      }
    }

    ul {
      margin-top: 20px;

      @media (max-width: $maxMediaSD) {
        margin-top: 16px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 12px;
      }
    }

    li {
      &::before {
        background-color: $color3-9;
      }
    }

    &+li {
      margin-top: 20px;

      @media (max-width: $maxMediaSD) {
        margin-top: 16px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 12px;
      }
    }
  }

  &>li {
    &+li {
      margin-top: 28px;

      @media (max-width: $maxMediaSD) {
        margin-top: 20px;
      }
    }
  }
}

.markedList2 {
  li {
    position: relative;
    padding-left: 22px;
    font-family: $font2;
    @include font(16px, 26px, $color2-1, null, null);

    @media (max-width: $maxMediaSD) {
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $maxMediaXS) {
      padding-left: 18px;
      font-size: 12px;
      line-height: 18px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 0px;
      width: 6px;
      height: 6px;
      background-color: $color4-1;
      @include border-radius(50%);

      @media (max-width: $maxMediaXS) {
        top: 6px;
      }
    }

    &+li {
      margin-top: 8px;

      @media (max-width: $maxMediaSD) {
        margin-top: 12px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 8px;
      }
    }
  }
}

.numList {
  padding-left: 12px;
  counter-reset: item;
  list-style-type: none;

  @media (max-width: $maxMediaSD) {
    padding-left: 20px;
  }

  @media (max-width: $maxMediaXS) {
    padding-left: 16px;
  }

  li {
    position: relative;
    padding-left: 24px;
    font-family: $font2;
    @include font(16px, 26px, $color2-1, null, null);
    font-feature-settings: 'pnum'on, 'lnum'on;

    @media (max-width: $maxMediaSD) {
      padding-left: 18px;
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $maxMediaXS) {
      padding-left: 20px;
      font-size: 12px;
      line-height: 18px;
    }

    ol {
      margin-top: 20px;
      padding-left: 0px;
      counter-reset: item;
      list-style-type: none;

      @media (max-width: $maxMediaSD) {
        padding-left: 6px;
        margin-top: 16px;
      }

      @media (max-width: $maxMediaXS) {
        padding-left: 0px;
      }
    }

    li {
      padding-left: 40px;

      @media (max-width: $maxMediaSD) {
        padding-left: 34px;
      }

      @media (max-width: $maxMediaXS) {
        padding-left: 28px;
      }

      &::before {
        opacity: 0.75;
      }

      li {
        padding-left: 54px;

        @media (max-width: $maxMediaXS) {
          padding-left: 36px;
        }

        &::before {
          opacity: 0.5;
        }
      }
    }

    &::before {
      counter-increment: item;
      content: counters(item, ".") ". ";
      position: absolute;
      top: 0px;
      left: 0px;
      font-family: $font2;
      @include font(16px, 26px, $color4-1, null, null);
      font-feature-settings: 'pnum'on, 'lnum'on;

      @media (max-width: $maxMediaSD) {
        font-size: 14px;
        line-height: 22px;
      }

      @media (max-width: $maxMediaXS) {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &+li {
      margin-top: 20px;

      @media (max-width: $maxMediaSD) {
        margin-top: 16px;
      }
    }

  }

  &>li {
    &+li {
      margin-top: 28px;

      @media (max-width: $maxMediaSD) {
        margin-top: 20px;
      }
    }
  }
}