// colors
$color1: rgba(255, 255, 255, 1);
$color1-a1: rgba(255, 255, 255, 0.1);
$color1-a15: rgba(255, 255, 255, 0.15);
$color1-a2: rgba(255, 255, 255, 0.2);
$color1-a3: rgba(255, 255, 255, 0.3);
$color1-a4: rgba(255, 255, 255, 0.4);
$color1-a5: rgba(255, 255, 255, 0.5);
$color1-a7: rgba(255, 255, 255, 0.7);
$color2: rgba(0, 0, 0, 1);
$color2-a1: rgba(0, 0, 0, 0.1);
$color2-a2: rgba(0, 0, 0, 0.2);
$color2-1: rgba(17, 17, 51, 1);
$color2-1-a8: rgba(17, 17, 51, 0.8);
$color2-2: rgba(33, 33, 84, 1);
$color2-2-a0: rgba(33, 33, 84, 0);
$color2-2-a1: rgba(33, 33, 84, 0.1);
$color2-2-a15: rgba(33, 33, 84, 0.15);
$color2-3: #283D79;
$color2-4: #25287D;
$color2-5: #05052B;
$color2-6: #26317E;
$color3: #8B8DA3;
$color3-1:#B3B3D9;
$color3-2: #A2A5BD;
$color3-3: #D3D5E4;
$color3-4: #DCE5F7;
$color3-5: #D7D7D7;
$color3-6: #D0D0E8;
$color3-7: #DDDEEA;
$color3-8: #A1A1B9;
$color3-9:#D0D5EC;
$color4: #0057FF;
$color4-1: #0546C9;
$color4-1-a1: #0546C910;
$color5: #707092;
$color5-1: #78789C;
$color5-2: #81819E;
$color6: #608EEB;
$color7: #9FE4F3;
$color8: #EEC834;
$color9: rgba(161, 200, 235, 1);
$color9-a23: rgba(161, 200, 235, 0.23);
$color10: #DB424A;
$color10-1: #E83A21;
$color11: #1586C5;
$color12: #1A4F53;
$color13: #E9EDFD;
$color14: #F6F7FB;
$color15: #E9EDFF;
$color16: #451669;
$color17: #16F2D7;
$color18: #EECD56;
$color19: #F1F3F8;
$color20: #C8D5F0;
$color21: #DFE7F9;
$color22: #09D768;

$btnHover: #E9EDFF;
$btnActive: #C7CDEA;

$gradColor1: rgba(24, 96, 163, 0.5);
$gradColor2: $color2-2;

$textGrad1: #0546C9;
$textGrad2: #9E1F63;

$btnGrad1: #FF2222;
$btnGrad2: #FFB800;
$btnGradShadow: rgba(255, 105, 18, 0.3);
$btnFillShadow: rgba(0, 64, 188, 0.5);

$circleColor1: $color7;
$circleColor2: rgba(232, 64, 58, 1);
$circleColor2-a1: rgba(232, 64, 58, 0.1);
$circleColor3: rgba(238, 205, 85, 1);
$circleColor3-a1: rgba(238, 205, 85, 0.1);

$back1: #F6F6FA;
$back2: #F5F6FA;
$back2-a1: #F5F6FA10;
$back3: #E7E7EB;

$link: $color6;
$link2: #0546C9;

$shadow: 0px 16px 30px -10px rgba(58, 58, 116, 0.15),
0px 20px 60px -20px rgba(58, 58, 116, 0.15);
$shadow2: 0px 20px 30px -12px rgba(67, 71, 88, 0.2);

$containerLG:1440px;
$containerSD:1310px;
$containerMD:1090px;
$containerSM:870px;
$containerXS:100%;
$containerXSS:100%;

$indent1: 15px;
$indent2: 20px;
$indent3: 30px;
$indent4: 40px;
$indent5: 60px;
$indent6: 10px;

$indentO1: -$indent1;
$indentO2: -$indent2;
$indentO3: -$indent3;
$indentO4: -$indent4;
$indentO5: -$indent5;
$indentO6: -$indent6;

$col1: 100% * 1 / 12;
$col2: 100% * 2 / 12;
$col2_4: 100% / 5;
$col3: 100% * 3 / 12;
$col4: 100% * 4 / 12;
$col5: 100% * 5 / 12;
$col6: 100% * 6 / 12;
$col7: 100% * 7 / 12;
$col8: 100% * 8 / 12;
$col9: 100% * 9 / 12;
$col10: 100% * 10 / 12;
$col11: 100% * 11 / 12;
$col12: 100% * 12 / 12;

$rowMarginLG: 0px $indentO3;
$rowMarginSD: 0px $indentO3;
$rowMarginMD: 0px $indentO3;
$rowMarginSM: 0px $indentO3;
$rowMarginXS: 0px $indentO2;
$rowMarginXSS: 0px $indentO2;

$maxMediaSD: 1329px;
$maxMediaMD: 1199px;
$maxMediaSM: 1023px;
$maxMediaXS: 767px;
$maxMediaXSS: 479px;
$minMediaSD: 1330px;
$minMediaMD: 1200px;
$minMediaSM: 1024px;
$minMediaXS: 768px;
$minMediaXSS: 480px;

$font1: 'Raleway';
$font2: 'Open Sans';
$font3: 'icomoon';
$font4: 'PF Agora Sans Pro';